/* ANCHOR Fonts */
@font-face {
  font-family: "IBM";
  src: url(../fonts/OpenSans-Regular.woff2) format("woff2"), url(../fonts/OpenSans-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IBM";
  src: url(../fonts/OpenSans-Italic.woff2) format("woff2"), url(../fonts/OpenSans-Italic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "IBM";
  src: url(../fonts/OpenSans-Bold.woff2) format("woff2"), url(../fonts/OpenSans-Bold.woff) format("woff");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}
/* ANCHOR Custom Properties */
body {
  --color-black: #191919;
  --color-white: #ffffff;
  --color-grey: #a3a3a3;
  --color-green: #13f270;
  --color-red: #fc1a52;
  --color-purple: #ee0dfe;
  --color-yellow: #c1de04;
  --color-blue: #03bfee;
  --color-blau: #336699;
  --color-brown: #ffe8de;
  --font: "IBM", sans-serif;
  --line: 3ch;
  --font-scale: 0.4vw;
}

body.invert {
  --color-black: #ffffff;
  --color-white: #000000;
  --color-grey: #6e6e6e;
  --color-green: #007932;
  --color-red: #c70636;
  --color-purple: #800257;
  --color-yellow: #e37e02;
  --color-blue: #0856af;
  --color-blau: #41dce1;
  --color-brown: #5e311f;
}

/* ANCHOR General Style */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font);
  font-style: normal;
  font-size: calc(1rem + var(--font-scale));
  line-height: var(--line);
  font-weight: 400;
  color: var(--color-white);
  background-color: var(--color-black);
}

header,
footer {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 24px;
}

p {
  font-weight: normal;
  padding: 1.25rem;
  text-align: start;

}

/* ANCHOR root Element html-Element */
html {
  font-size: 100%;
}

h1 {
  font-size: 2rem;
  padding-left: 1.2rem;
  color: rgb(218, 54, 54);
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 1.2rem;
}
/*
h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 1.2rem;
} */

a {
  text-decoration: none;
}

/* Rudi.jpg*/
/* alle Bilder werden mit 20% von links positioniert */
img {
  width: 80%;
  height: auto;
  margin-left: 5%;
  max-width: 100%;
  box-shadow: 2px 2px 5px #666;
  border-radius: 3%;
}

/* ANCHOR Link Colors */
.link-white,
.link-blue,
.link-green,
.link-grey,
.link-purple,
.link-blau,
.link-red {
  cursor: pointer;
}

.link-white {
  color: var(--color-white);
}

.link-white:hover {
  color: var(--color-black);
  background-color: var(--color-white);
}

.link-red {
  color: var(--color-red);
}

.link-red:hover {
  color: var(--color-black);
  background-color: var(--color-red);
}

.link-purple {
  color: var(--color-purple);
}

.link-purple:hover {
  color: var(--color-black);
  background-color: var(--color-purple);
}

.link-grey {
  color: var(--color-grey);
}

.link-grey:hover {
  color: var(--color-black);
  background-color: var(--color-grey);
}

.link-green {
  color: var(--color-green);
}

.link-green:hover {
  color: var(--color-black);
  background-color: var(--color-green);
}

.link-blue {
  color: var(--color-blue);
}

.link-blue:hover {
  color: var(--color-black);
  background-color: var(--color-blue);
}

.link-blau {
  color: var(--color-blau);
}

.link-blau:hover {
  color: var(--color-black);
  background-color: var(--color-blau);
}

/* ANCHOR Text Colors */
.text-black {
  color: var(--color-black);
}

.text-white {
  color: var(--color-white);
}

.text-grey {
  color: var(--color-grey);
}

.text-green {
  color: var(--color-green);
}

.text-red {
  --color-red: #fc1a52;
}

.text-purple {
  --color-purple: #cb06d9;
}

.text-yellow {
  --color-yellow: #c1de04;
}

.text-blue {
  --color-blue: #03bfee;
}

.text-blau {
  --color-blau: #336699;
}

.text-brown {
  --color-brown: #ffe8de;
}

/* ANCHOR Instruments_lesson */

#instruments_lesson {
  font-size: calc(1rem + var(--font-scale));
  line-height: var(--line);
  color: var(--color-white);
  background-color: var(--color-black);
  width: 96%;
  max-width: 100%;
  margin: 2rem auto;
}

#instruments_lesson article {
  display: inline-block;
  margin: 2rem auto;
  width: 100%;
  vertical-align: top;
}

#instruments_lesson article picture img {
  max-width: 20%;
  height: auto;
  box-shadow: 0px 0px 10px 5px #4c4948;
  border-radius: 5px;
  float: right;
  margin-top: 1.25rem;
  margin-left: 1rem;
  margin-right: 3rem;
}

#instruments_lesson article img {
  max-width: 35%;
  height: auto;
  box-shadow: 0px 0px 10px 5px #4c4948;
  border-radius: 5px;
  float: right;
  margin-top: 1.25rem;
  margin-left: 1rem;
  margin-right: 3rem;
}

#instruments_lesson ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container-wrapper {
  max-width: 100%;
  width: 560px;
  left: 0;
  right: 0;
  margin: auto;
}

/* Footer */
/* ANCHOR footer styles */
/* footer > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
} */
/* Mobile Style Mediaqueries */
/* ANCHOR 800px */
@media screen and (max-width: 800px) {
  body {
    width: 100%;
    display: block;
  }
  video.responsive-video {
    max-width: 300px;
    height: auto;
  }
}