---
let currentTime = new Date();
    let year = currentTime.getFullYear();
---
<!--footer-->

<footer>
    <div class="text-black">
        &copy; {year} by Musicstudio Ziebart. All rights reserved.
    </div>
</footer>

<style>
    footer {
    color: var(--color-black);
    background-color: var(--color-white);
    font-size: calc(.75rem + var(--font-scale));
    margin-bottom: 32px;
    margin: 0 auto;
    padding: 3px 24px;
    width: 100%;
    max-width: 1260px;
    text-align: center;
}
</style>