---
let currentTime = new Date();
    let year = currentTime.getFullYear();
---
<!--footer-->

<footer>
    <div class="text-weiss">
        &copy; {year} by Musicstudio Ziebart. All rights reserved.
    </div>
</footer>

<style>
    footer {
    color: var(--color-weiss);
    background-color: var(--color-black);
    font-size: calc(0.75rem + var(--font-scale));
    margin-bottom: 2rem;
    margin: 0 auto;
    padding: 0.188rem 1.5rem;
    width: 100%;
    max-width: 1260px;
    text-align: center;
}
</style>