---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import SecondaryNavigation from "./SecondaryNavigation.astro";
import HamburgerSecondary from "./HamburgerSecondary.astro";
---
<header>
  <div class="author">
    Author: Musicstudio Ziebart
  </div>
  <nav>
    <Hamburger />
    <Navigation />
    <SecondaryNavigation />
    <HamburgerSecondary /> <!-- Neues Hamburger-Menü für die zweite Navigation -->
  </nav>
</header>