---
Astro.response.headers.set("Set-Cookie", "a=b; Path=/;");
---

<!-- Navigationsleiste -->
<header>
  <div id="page-logo">
    <a href="/" class="text-green">Author Musicstudio Ziebart</a>
  </div>

  <nav>
    <!--
    <div class="nav_logo"><img src="images/logo_192x192.png" width="192" height="192" alt="firmenlogo"></div> -->
    <a href="#" class="toggle-button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
    <div class="list-container">
      <ul>
        <li><a href="/">Musikunterricht</a></li>
        <li><a href="/instrumentenkauf/">Instrumentenkauf</a></li>
        <li><a href="/honorar/">Honorar</a></li>
        <li><a href="/leistungen/">Leistungen</a></li>
        <li><a href="/faq/">FAQ</a></li>
        <li><a href="/download/">Download</a></li>
        <li><a href="/harmonielehre/">Harmonielehre</a></li>
        <li><a href="/impressum/">Impressum</a></li>
        <li><span id="invertButton">Invert</span></li>
      </ul>
    </div>
  </nav>
</header>

<style>
  * {
    margin: 0;
    padding: 0;
  }
  html {
    height: 100%;
  }

  body {
    height: 100%;
  }

  #page-logo {
    font-style: italic;
    margin: 1.25rem;
  }
  
  .list-container {
    background-color: #c0392b;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  }
  
  .list-container ul li:hover a {
    background: #fff;
    color: #c0392b;
  }

  nav {
    min-height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /*
  .nav_logo {
    margin: 1.25rem;
    font-size: 1.875;
    color: var(--color-black);
    background-color: var(--color-white);
  } */

  nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
 
  nav ul li {
    height: 100%;
    padding: 0.625rem;
    list-style: none;
  }

  /* Schriftgröße, Farbe und Fontfamilie der Menubar */
  
  nav ul li a {
    color: #fff;
    font-weight: 700; 
    text-decoration: none;
    font-size: var(--font-size);
    text-transform: uppercase;
    height: 2.5rem;
    line-height: 2.5rem;
    font-family: sans-serif;
    transition: 0.5s;
    padding: 0.625rem;
  }

  #invertButton {
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    font-size: 1.375;
    text-transform: uppercase;
    height: 2.5rem;
    line-height: 2.5rem;
  }

  #invertButton:hover {
    background: #fff;
    color: #c0392b;
    transition: 0.5s ease;
  }

  .toggle-button {
    position: absolute;
    top: 1.563rem;
    right: 1.563rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 1.875rem;
    height: 1.438rem;
  }

  /* Dreistrich Menu */
  .toggle-button .bar {
    height: 0.25rem;
    width: 100%;
    border-radius: 6.25rem;
    background-color: var(--color-white);
  }

  /* Wenn unter 750px dann gelten folgende Regeln */
  @media (max-width: 768px) {
    .list-container {
      top: 5rem;
      display: none;
      width: 100%;
    }
    /* Toggle Button wird eingeschaltet */
    .toggle-button {
      display: flex;
      margin-right: 0.1rem;
    }
    /* Flex direction ist in Spalten */
    nav {
      flex-direction: column;
      align-items: flex-start;
    }
    .list-container ul {
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
    /* Text wird zentriert */
    /*
    .list-container li {
      text-align: center;
    } */

    .list-container ul li a {
      height: 2.5rem;
      line-height: 2.5rem;
    }

    .list-container.active {
      display: flex;
      flex-direction: column;
    }
  }
</style>

<script is:inline>
document.querySelector("#invertButton").addEventListener("click", () => {
  document.querySelector("body").classList.toggle("invert");

  if (localStorage.getItem("theme") == "invert") {
    localStorage.setItem("theme", "");
  } else {
    localStorage.setItem("theme", "invert");
  }
});
</script>
