---
Astro.response.headers.set("Set-Cookie", "a=b; Path=/;");
---

<header>
  <div id="page-logo">
    <a href="/" class="text-green"
      >Author Musicstudio Ziebart<span class="text-white"></span>
    </a>
  </div>

  <!-- Navigationsleiste -->
  <nav>
    <ul>
      <li>
        <a href="/instrumentenkauf/" class="link-blue">Instrumentenkauf</a>
      </li>
      <li><a href="/honorar/" class="link-blue">Honorar</a></li>
      <li><a href="/leistungen/" class="link-blue">Leistungen</a></li>
      <li><span id="invertButton" class="link-purple">Invert</span></li>
    </ul>
  </nav>
</header>

<style>
  #page-logo {
    font-style: italic;
  }

  nav > ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
</style>

<script is:inline>
  document.querySelector("#invertButton").addEventListener("click", () => {
    document.querySelector("body").classList.toggle("invert");

    if (localStorage.getItem("theme") == "invert") {
      localStorage.setItem("theme", "");
    } else {
      localStorage.setItem("theme", "invert");
    }
  });
</script>
