---
Astro.response.headers.set("Set-Cookie", "a=b; Path=/;");
---

<header>
  <div id="page-logo">
    <a href="/" class="text-green"
      >Author Musicstudio Ziebart<span class="text-white"></span>
    </a>
  </div>

  <!-- Navigationsleiste -->
  <!--
  <nav>
    <ul>
      <li>
        <a href="/instrumentenkauf/" class="link-blue">Instrumentenkauf</a>
      </li>
      <li><a href="/honorar/" class="link-blue">Honorar</a></li>
      <li><a href="/leistungen/" class="link-blue">Leistungen</a></li>
      <li><span id="invertButton" class="link-purple">Invert</span></li>
    </ul>
  </nav> -->

  <nav>
    <!--
    <div class="nav_logo"><img src="images/logo_192x192.png" width="192" height="192" alt="firmenlogo"></div> -->
    <a href="#" class="toggle-button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
    <div class="list-container">
      <ul>
        <li><a href="/">Musikunterricht</a></li>
        <li><a href="/instrumentenkauf/">Instrumentenkauf</a></li>
        <li><a href="/honorar/">Honorar</a></li>
        <li><a href="/leistungen/">Leistungen</a></li>
        <li><a href="/faq/">FAQ</a></li>
        <li><a href="/download/">Download</a></li>
        <li><a href="/harmonielehre/">Harmonielehre</a></li>
        <li><a href="/impressum/">Impressum</a></li>
        <li><span id="invertButton" class="link-purple">Invert</span></li>
      </ul>
    </div>
  </nav>
</header>

<style>
  
  * {
    margin: 0;
    padding: 0;
  }
  html {
    height: 100%;
  }

  body {
    height: 100%;
  }

  #page-logo {
    font-style: italic;
    margin: 1.25rem;
  }
  /*
  nav > ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  } */

  nav {
    min-height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-black);
  }
  /*
  .nav_logo {
    margin: 1.25rem;
    font-size: 1.875;
    color: var(--color-black);
    background-color: var(--color-white);
  } */

  nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  nav ul li {
    height: 100%;
    padding: 0.625rem;
    list-style-type: none;
    border-bottom: 0.25rem solid rgb(42, 42, 42);
  }

  /* Farbe der Menuleiste wenn man darauf klickt */
  nav ul li:hover {
    border-bottom: 0.25rem solid rgb(111, 0, 255);
  }

  /* Schriftgröße der Menubar */
  nav ul li a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 1.375rem;
    font-family: sans-serif;
  }

  /* Hover Effekt wenn aktiv */
  nav ul li .active {
    color: cornflowerblue;
  }

  .toggle-button {
    position: absolute;
    top: 1.563rem;
    right: 1.563rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 1.875rem;
    height: 1.438rem;
  }

  /* Dreistrich Menu */
  .toggle-button .bar {
    height: 0.25rem;
    width: 100%;
    border-radius: 6.25rem;
    background-color: var(--color-white);
  }

  /* Wenn unter 750px dann gelten folgende Regeln */
  @media (max-width: 750px) {
    .list-container {
      display: none;
      width: 100%;
    }
    /* Toggle Button wird eingeschaltet */
    .toggle-button {
      display: flex;
    }
    /* Flex direction ist in Spalten */
    nav {
      flex-direction: column;
      align-items: flex-start;
    }
    .list-container ul {
      flex-direction: column;
      width: 100%;
    }
    /* Text wird zentriert */
    .list-container li {
      text-align: center;
    }
    .list-container.active {
      display: flex;
      flex-direction: column;
    }
  }
</style>

<script is:inline>
document.querySelector("#invertButton").addEventListener("click", () => {
  document.querySelector("body").classList.toggle("invert");

  if (localStorage.getItem("theme") == "invert") {
    localStorage.setItem("theme", "");
  } else {
    localStorage.setItem("theme", "invert");
  }
});
</script>
