<div transition:animate="slide" class="nav-links">
    <a href="/" data-astro-prefetch>Home</a>
    <a href="/blog/" data-astro-prefetch>Blog</i></a>
    <a href="/tags/" data-astro-prefetch>Tags</a>
    <a href="/instrumentenkauf/" data-astro-prefetch>Instrumentenkauf</a>
    <a href="/honorar/" data-astro-prefetch>Honorar</a>
    <a href="/leistungen/" data-astro-prefetch>Leistungen</a>
    <a href="/faq/" data-astro-prefetch>FAQ</a>
    <a href="/download/" data-astro-prefetch>Download</a>
    <a href="/harmonielehre/" data-astro-prefetch>Harmonielehre</a>
    <a href="/impressum/" data-astro-prefetch>Impressum</a>
</div>