<div transition:animate="slide" class="nav-links">
    <a href="/" aria-label="Home">Home</a>
    <a href="/blog/" aria-label="Blog">Blog</i></a>
    <a href="/tags/" aria-label="Tags">Tags</a>
    <a href="/instrumentenkauf/" aria-label="Instrumentenkauf">Instrumentenkauf</a>
    <a href="/honorar/" aria-label="Honorar">Honorar</a>
    <a href="/leistungen/" aria-label="Label">Leistungen</a>
    <a href="/faq/" aria-label="FAQ">FAQ</a>
    <a href="/download/" aria-label="Download">Download</a>
    <a href="/harmonielehre/" aria-label="Harmonielehre">Harmonielehre</a>
    <a href="/impressum/" aria-label="Impressum">Impressum</a>
</div>