---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Akkordeonunterricht"
  description="Ich gebe Akkordeonunterricht in eibach"
  keywords="akkordeonunterricht, akkordeon unterricht, akkordeon privatunterricht, akkordeon lernen nürnberg, akkordeon lernen, akkordeon spielen lernen, akkordeon lernen anfänger, akkordeon, akkordeon kurs, akkordeon spielen, akkordeonunterricht für erwachsene, accordion lesson"
>
  <h1>Akkordeon Unterricht</h1>
  <section id="instruments_lesson">
    <article>
      <h2>Alfons Holzschuh</h2>
      <picture>
        <source
          srcset="/images/holzschuh-wide.webp"
          media="(min-width: 600px)"
        />
        <img
          src="/images/holzschuh-narrow.webp"
          width="367"
          height="480"
          alt="Akkordeonschule"
        />
      </picture>
      <p>
        Für den Akkordeonunterricht nehme ich am Anfang die Akkordeonschule von
        Alfons Holzschuh. Es gibt davon 2 Bänder. Das Akkordeon war früher das
        Top Instrument. Man kann damit hervoragend Volksmusik spielen. Für
        Französiche Musette Stücke oder Tangos wird das Akkordeon gerne
        eingesetzt. Heute ist das immernoch so! Dann gibt es von Heinz Munsonius
        ganz berühmte Akkordeon Klassiker wie Tanzende Finger zum Beispiel.
      </p>
      <br />
      <p>
        <a href="/leistungen/" class="link-white">zurück</a>
      </p>
      <ul>
        <li><a href="/faq/" class="link-blue">FAQ</a></li>
        <li><a href="/download/" class="link-blue">Download</a></li>
        <li><a href="/harmonielehre/" class="link-blue">Harmonielehre</a></li>
        <li><a href="/impressum/" class="link-blue">Impressum</a></li>
      </ul>
    </article>
  </section>
</Layout>
