---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Banjonunterricht"
  description="Ich gebe banjounterricht in nürnberg eibach"
  keywords="5-string banjo, bluegrass banjo, banjounterricht, banjo unterricht, banjo workshop, banjounterricht in eibach, banjolehrer nürnberg, banjo spielen ohne noten, banjolieder für anfänger, banjo kurs, bluegrass banjo lernen, banjo unterricht, banjo spielen, banjounterricht für anfänger, banjo lernen, banjo für anfänger, banjolehrer, banjo workshop, 5-string banjo lernen, banjo anfänger, banjo picker, banjo lernen, bluegrass banjo, banjo lessons"
>
  <h1>Banjounterricht</h1>
  <section id="instruments_lesson">
    <article>
      <p>Rüdiger Helbig</p>
      <h2>Beginner Banjo</h2>
      <p>
      <img src="/images/beginner-banjo-narrow.webp" alt="Banjoschule von Rüdiger Helbig" width="378" height="540">
      </p>
      <p>
        Für den Banjounterricht oder im englischen Banjo Picker gibt es in
        deutsch von Rüdiger Helbig ein Werk. "Beginner Banjo" heißt es. Die
        Banjoschule bassiert wie es so üblich ist bei den Banjo Pickern auf
        Tabulaturen. Das heißt es werden keine Noten benutzt. Es ist auch eine
        CD dabei. Jeder Titel wird einmal langsam und dann schnell vorgespielt.
        Es werden am Anfang Rolls und Techniken vorgestellt, danach folgen vier
        Bluegrass Stücke. Später gibt es ein Kapital über sogenannte Backups. Es
        geht um die Banjo Begleitung. Außerdem folgt dann ein Kapital über
        Melodic-Style. Es werden auch Fiddle-Tunes vorgestellt. Das sind Stücke
        die früher auf einer Violine gespielt worden sind und jetzt auf Banjo
        umgeschrieben worden sind.
      </p>
      <hr />
      <p>Sebastian Schröder</p>
      <h2>Banjo spielen!</h2>
      <p>
      <img src="/images/schroeder_378-narrow.webp" alt="Schröder Banjoschule" width="308" height="440">
      </p>
      <p>Die umfassende Schule für das 5-string Banjo</p>
      <ol>
        <li>Für Beginner und Profis</li>
        <li>Alle Stile und Techniken</li>
        <li>Einfache Tabulatur</li>
      </ol>
      <p>
        Die Schule von Sebastian Schröder ist einfacher als die von Rüdiger
        Helbig. Wer also Probleme mit dem Timing bzw. Rhythmus hat würde ich
        diese Schule empfehlen. Ob mit 2 oder 3 Fingern oder Fingerpicks - nach
        einer genauen Einführung kann selbst gewählt werden, welche Stile und
        Techniken auf dem Lehrplan stehen. Alle Übungen sind auf einer mp3 CD
        enthalten. Dank der leichtverständlichen Tabulatur sind keine
        Notenkenntnisse erforderlich.
      </p>
      <p>
        Beispiel von Pete Seeger's Begleitungsstile für Banjo
        <a
          href="/bilder/04_seeger_picking.pdf"
          target="_blank"
          class="link-blue">ansehen</a
        >
        <a href="/Songs/Skip_To_My_Lou.mp3" target="_blank" class="link-blue"
          >anhören</a
        >
      </p>
      <p>
        Das Buch können Sie bei Edition Dux <a
          href="https://www.dux-verlag.de/autoren/sebastian-schroeder/banjo-spielen.html" target="_blank" class="link-blue"
          >kaufen!</a
        >
      </p>
      <hr />
      <p>
        Für diejenigen die das Banjo spielen gerne mal alleine ausprobieren
        wollen habe ich die Tabulatur zum download bereit gestellt. Unten bei
        der Beschreibung ist der Link eingebaut.
      </p>
      <p>Banjo Beginner Lesson 2</p>
      <div class="video-container-wrapper">
        <div class="video-container">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/WmYlSqvpUkw"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </div>
      <p>Black Mountain Rag</p>
      <div class="video-container-wrapper">
        <div class="video-container">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/44O9ZSf7Dhc"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
        </div>
      </div>
      <p>
        <a href="/leistungen/" class="link-white">zurück</a>
      </p>
      <ul>
        <li><a href="/faq/" class="link-blue">FAQ</a></li>
        <li><a href="/download/" class="link-blue">Download</a></li>
        <li><a href="/harmonielehre/" class="link-blue">Harmonielehre</a></li>
        <li><a href="/impressum/" class="link-blue">Impressum</a></li>
      </ul>
    </article>
  </section>
</Layout>

<style>
  #instruments_lesson ol li {
    padding: 0;
    margin: 2rem auto;
    display: block;
  }
</style>
