---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Meine Blog Site";
---

<BaseLayout 
  pageTitle={pageTitle}
  description="Hier veröffenliche ich meine Blogs"
  keywords="blogging, gitarrenunterricht, banjounterricht"
  href="https://www.musicstudio-ziebart.de/blog/"
>
  <p>Ich möchte einige gute Ratschläge für Musiker und Musikerinnen geben.</p>
  <p>
    Meine RSS-Feeds Adresse von Musicstudio Ziebart
    <a
      href="https://www.musicstudio-ziebart.de/rss.xml"
      class="normal-links"
      >https://www.musicstudio-ziebart.de/rss.xml
    </a>
  </p>
  <ul>
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>
