---
import ManuellesBlockieren from "../components/ManuellesBlockieren.astro";
import ExternalScripts from "../components/ExternalScripts.astro";
import ExternalScripts3 from "../components/ExternalScripts3.astro";
import GoogleScripts from "../components/GoogleScripts.astro";
const pageTitle = "Ich rufe Sie zurück!";
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Falls Sie Fragen haben, können Sie mir gerne eine kurze Mitteilung schicken. Ich werde Sie zurückrufen! 😀"
    />
    <title>{pageTitle}</title>
    <!--
    <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->
    <meta name="keywords" content="ich rufe sie zurueck!" />
    <!--
    <link rel="stylesheet" href="/styles/global.css" /> -->
    <!--
    <link rel="manifest" href="/manifest.json" /> -->
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="canonical"
      href="https://www.musicstudio-ziebart.de/contact_4/"
    />
    <meta
      name="google-site-verification"
      content="Zitul6WICKD7zrzgptxGVrh2GEhozasdEM_d1tGi2aw"
    />
    <meta
      name="author"
      content="Musicstudio Ziebart, postmaster@musicstudio-ziebart.de"
    />
    <meta
      name="DC.Publisher"
      content="Musicstudio Ziebart, postmaster@musicstudio-ziebart.de"
    />
    <meta name="page-topic" content="Musikunterricht, Musikschule, Bildung" />
    <meta name="DC.rights" content="Alle Rechte liegen beim Author" />
    <meta name="revisit-after" content="7 days" />
    <meta name="robots" content="max-snippet:-1, INDEX, FOLLOW" />
    <!--
    <meta name="theme-color" content="#191919" /> -->

    <ManuellesBlockieren />
    <ExternalScripts />
    <ExternalScripts3 />
    <GoogleScripts />


    <style>
      .container4 {
        margin: 0 auto;
        padding: 5%;
        box-sizing: border-box;
      }

      body {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        background-color: #eaeaea; /* Hellgrauer Hintergrund für die Seite */
      }

      h2 {
        color: #333;
      }

      label {
        display: block;
        font-size: 1.125rem;
        padding: 0.625rem;
        color: #555;
      }

      /* Der Rand um die Felder */
      .form-control {
        border-radius: 4px;
        border: 1px solid #ddd;
        background-color: #fff;
        color: #333;
      }

      /* Die Breite der Felder */
      .form-control.form-control-lg {
        height: calc(3.5rem + 2px);
        padding: 1rem 0.75rem;
        font-size: 1.125rem;
      }

      form {
        max-width: 31.25rem;
        margin: 0 auto;
        text-align: left;
        padding: 1.25rem 0;
        font-size: 1.125rem;
      }

      /* Schriftgröße im Ausfüllbereich */
      input,
      textarea {
        font-family: "Poppins", sans-serif;
        font-size: 1.125rem;
        padding: 0.625rem;
        border-radius: 4px;
        border: 1px solid #ddd;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 0.625rem;
      }

      textarea {
        resize: vertical;
      }

      /* Button css */
      .btn {
        border-radius: 4px;
        border: 0;
        color: white;
      }

      .btn.btn-primary {
        background-color: #545557;
        padding: 0.94rem 7rem;
        font-size: 1.125rem;
        margin-top: 1.875rem;
        cursor: pointer;
        transition: all 0.3s ease;
        text-align: center;
      }

      .btn.btn-primary:hover {
        background-color: rgb(140, 236, 140);
        color: black;
      }

      .link-blue {
        color: #007bff;
        text-decoration: none;
      }

      .link-blue:hover {
        text-decoration: underline;
      }
    </style>
  </head>

  <body>
    <cookie-banner>
      <h2 slot="title">Music Lessons</h2>
      <div slot="text">Wir verwenden Cookies weil das so ist</div>
    </cookie-banner>

    <template>
      <div class="foo">Das ist ein Template das siehst du nicht in HTML</div>
    </template>
    {/* Google Tag Manager (noscript) */}
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-PWK4LSL"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    {/* End Google Tag Manager (noscript */}
    <h2>Ich rufe sie zurück!</h2>

    <div class="container4">
      <form
        name="contact_4"
        method="POST"
        action="/danke-seite/"
        data-netlify="true"
        netlify-honeypot="bot-field"
      >
        <!-- Honeypot field (invisible to users) -->
        <p style="display:none">
          <label
            >Don’t fill this out if you're human: <input
              name="bot-field"
            /></label
          >
        </p>

        <input type="hidden" name="form-name" value="contact_4" />

        <div>
          <label for="name">Name:</label>
          <input
            type="text"
            autocomplete="name"
            id="name"
            name="name"
            placeholder="Namen eintragen"
            class="form-control form-control-lg"
            required
          />
        </div>

        <div>
          <label for="subject">Betreff:</label>
          <input
            name="subject"
            type="text"
            id="subject"
            maxlength="30"
            placeholder="Rückruf"
            class="form-control form-control-lg"
          />
        </div>

        <div>
          <label for="message">Nachricht:</label>
          <textarea
            id="message"
            name="message"
            cols="23"
            rows="10"
            placeholder="Bitte um Rückruf"></textarea>
        </div>

        <div>
          <label for="phone">Telefonnummer:</label>
          <input
            type="tel"
            id="phone"
            autocomplete="tel-national"
            name="phone"
            class="form-control form-control-lg"
            required
          />
        </div>

        <div>
          <label for="email">E-Mail:</label>
          <input
            type="email"
            id="email"
            autocomplete="email"
            name="email"
            class="form-control form-control-lg"
          />
        </div>

        <br />
        <!--
        <div
          class="g-recaptcha"
          data-sitekey="6LdRPP0pAAAAAPoJR0Z6iRH_HFqnJBE4rNpKdLuP"
        >
        </div> -->
        <!--
        <script src="/scripts/form-handler.js" type="module" defer></script>
        <br />
        <div> -->
          <button type="submit" class="btn btn-lg btn-primary">Absenden</button>
        </div>
      </form>
    </div>
    <p>
      <a href="../index.html" class="link-blue">Zurück</a>
    </p>
    <script src="/scripts/cookie-banner.js" is:inline async></script>
  </body>
</html>
