---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Danke";
---
<BaseLayout
  pageTitle={pageTitle}
  description="Rückruf"
  keywords="rückruf, kurze mitteilung"
  href="https://www.musicstudio-ziebart.de/danke-seite/"
>
<h2>Danke für die kurze Mitteilung!</h2>
<p>
    Ihre kurze Mitteilung ist auf dem Weg! Ich werde mich sobald wie möglich bei Ihnen melden.
</p>
<br>
<p>
    <a href="/" class="normal-links">go back!</a>
</p>
</BaseLayout>