---
import ManuellesBlockieren from "../components/ManuellesBlockieren.astro";
import ExternalScripts from "../components/ExternalScripts.astro";
import ExternalScripts3 from "../components/ExternalScripts3.astro";
import GoogleScripts from "../components/GoogleScripts.astro";
const pageTitle = "Danke";
---

<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <meta name="robots" content="max-snippet:-1, INDEX, FOLLOW" />
  <title>{pageTitle}</title>
  <meta
      name="description"
      content="Erfolgsbestättigung für contact_4"
  />
  <link
      rel="canonical"
      href="https://www.musicstudio-ziebart.de/danke-seite/"
    />
  <meta
    name="google-site-verification"
    content="Zitul6WICKD7zrzgptxGVrh2GEhozasdEM_d1tGi2aw"
  />
  <meta
    name="author"
    content="Musicstudio Ziebart, postmaster@musicstudio-ziebart.de"
  />
  <meta
    name="DC.Publisher"
    content="Musicstudio Ziebart, postmaster@musicstudio-ziebart.de"
  />
  <ManuellesBlockieren />
  <ExternalScripts />
  <ExternalScripts3 />
  <GoogleScripts />
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 2rem;
    }
    h2 {
      color: #4CAF50;
    }
    .blue-links {
      color: #1E88E5;
      text-decoration: none;
    }
    .normal-links:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <cookie-banner>
    <h2 slot="title">Music Lessons</h2>
    <div slot="text">Wir verwenden Cookies weil das so ist</div>
  </cookie-banner>

  <template>
    <div class="foo">Das ist ein Template das siehst du nicht in HTML</div>
  </template>
  {/* Google Tag Manager (noscript) */}
  <noscript
    ><iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-PWK4LSL"
      height="0"
      width="0"
      style="display:none;visibility:hidden"></iframe></noscript
  >
  {/* End Google Tag Manager (noscript */}
  <h2>Danke für die kurze Mitteilung!</h2>
  <p>Ihre kurze Mitteilung ist auf dem Weg! Ich werde mich sobald wie möglich bei Ihnen melden.</p>
  <br>
  <p><a href="/" class="blue-links">Zurück zur Startseite</a></p>
  <script src="/scripts/cookie-banner.js" is:inline async></script>
</body>
</html>
