---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Download"
  description="Midi Files und Noten bekannter Werke komplett zu downloaden! Mondschein Sonate, Eine kleine Nachtmusik, Die Fledermaus, Schwannensee"
  keywords="Midi Files und Noten bekannter Werke zum downloaden"
>
  <section id="download">
    <h1>GM Midi Files mit Noten komplett zum downloaden!</h1>
    <article>
      <p>
        Hier k&#246;nnen Sie sich die Titel einmal kurz anspielen lassen. Ich
        hoffe es ist f&uuml;r Ihren Geschmack auch etwas dabei! Auf den Noten
        ist immer die erste Stimme angegeben. Auf der Aufnahme kann man dann die
        Solospur stumm schalten. Man hat dann ein ganzes Orchester oder ein Band
        als Backing Track. Welche Spur man stumm schalten muss und welches
        Instrument man spielt steht in den jeweiligen Noten.
      </p>
      <br />
      <br />
      <table>
        <thead>
          <tr>
            <th>Titel</th>
            <th>Komponist</th>
            <th>Instrument</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Auf einem persischen Markt</td>
            <td>Albert W. Ketelbey</td>
            <td>Keyboard</td>
          </tr>
          <tr>
            <td>
              <a
                href="/Songs/Auf_einem_persischen_Markt.mp3"
                target="_blank"
                class="link-green">anhören</a
              >
            </td>
            <td>
              <a
                href="/bilder/Auf_einem_persischen_Markt.pdf"
                target="_blank"
                class="link-green">ansehen</a
              >
            </td>
            <td>
              <a href="/zip_download/PM.zip" class="link-green"
                >download 244 KB</a
              >
            </td>
          </tr>
          <tr>
            <td>Barcarole</td>
            <td>Offenbach</td>
            <td>Keyboard</td>
          </tr>
          <tr>
            <td>
              <a href="/Songs/Barcarole.mid" target="_blank" class="link-green"
                >anhören</a
              >
            </td>
            <td>
              <a href="/bilder/Barcarole.pdf" target="_blank" class="link-green"
                >ansehen</a
              >
            </td>
            <td>
              <a href="/zip_download/Barcarole.zip" class="link-green"
                >download 259 KB</a
              >
            </td>
          </tr>
          <tr>
            <td>Kleine Nachtmusik</td>
            <td>Wolfgang Amadeus Mozart</td>
            <td>Keyboard</td>
          </tr>
          <tr>
            <td>
              <a href="/Songs/Nachtmu.mid" target="_blank" class="link-green"
                >anhören</a
              >
            </td>
            <td>
              <a
                href="/bilder/Kleine_Nachtmusik.pdf"
                target="_blank"
                class="link-green">ansehen</a
              >
            </td>
            <td>
              <a href="/zip_download/Nachtmusik.zip" class="link-green"
                >download 414 KB</a
              >
            </td>
          </tr>
          <tr>
            <td>Mondschein Sonate</td>
            <td>Ludwig van Beethoven</td>
            <td>Klavier</td>
          </tr>
          <tr>
            <td>
              <a href="/Songs/mondschein.mid" target="_blank" class="link-green"
                >anhören</a
              >
            </td>
            <td>
              <a
                href="/bilder/Mondschein.pdf"
                target="_blank"
                class="link-green">ansehen</a
              >
            </td>
            <td>
              <a href="/zip_download/Mondschein.zip" class="link-green"
                >download 360 KB</a
              >
            </td>
          </tr>
          <tr>
            <td>Morning</td>
            <td>Eduard Grieg</td>
            <td>Keyboard</td>
          </tr>
          <tr>
            <td>
              <a href="/Songs/Morning.mid" target="_blank" class="link-green"
                >anhören</a
              >
            </td>
            <td>
              <a href="/bilder/Morning.pdf" target="_blank" class="link-green"
                >ansehen</a
              >
            </td>
            <td>
              <a href="zip_download/Morning.zip" class="link-green"
                >download 259 KB</a
              >
            </td>
          </tr>
          <tr>
            <td>Swan Lake</td>
            <td>Peter Ilytch Tschaikowsky</td>
            <td>Keyboard</td>
          </tr>
          <tr>
            <td>
              <a href="/Songs/SwanLake.mid" target="_blank" class="link-green"
                >anhören</a
              >
            </td>
            <td>
              <a href="/bilder/SwanLake.pdf" target="_blank" class="link-green"
                >ansehen</a
              >
            </td>
            <td>
              <a href="/zip_download/SwanLake.zip" class="link-green"
                >download 334 KB</a
              >
            </td>
          </tr>
          <tr>
            <td>Aloha Oe</td>
            <td>Volkslied aus Hawai</td>
            <td>Keyboard</td>
          </tr>
          <tr>
            <td>
              <a href="/Songs/Aloha.mid" target="_blank" class="link-green"
                >anhören</a
              >
            </td>
            <td>
              <a href="/bilder/Aloha_Oe.pdf" target="_blank" class="link-green"
                >ansehen</a
              >
            </td>
            <td>
              <a href="/zip_download/AlohaOe.zip" class="link-green"
                >download 109 KB</a
              >
            </td>
          </tr>
          <tr>
            <td>Die Fledermaus</td>
            <td>Johann Strauss</td>
            <td>Keyboard</td>
          </tr>
          <tr>
            <td>
              <a href="/Songs/Fledermaus.mid" target="_blank" class="link-green"
                >anhören</a
              >
            </td>
            <td>
              <a href="/bilder/Flederm.pdf" target="_blank" class="link-green"
                >ansehen</a
              >
            </td>
            <td>
              <a href="/zip_download/Die_Fledermaus.zip" class="link-green"
                >download 443 KB</a
              >
            </td>
          </tr>
          <tr>
            <td>Die Schlittschuh L&auml;ufer, Opus 183</td>
            <td>Emil Waldteufel</td>
            <td>Keyboard</td>
          </tr>
          <tr>
            <td>
              <a href="/Songs/Schlitt.mid" target="_blank" class="link-green"
                >anhören</a
              >
            </td>
            <td>
              <a href="/bilder/Schlitt.pdf" target="_blank" class="link-green"
                >ansehen</a
              >
            </td>
            <td>
              <a href="/zip_download/Die_Schlitt.zip" class="link-green"
                >download 530 KB</a
              >
            </td>
          </tr>
          <tr>
            <td>Aus der neuen Welt, 9. SYMPHONIE, II. Largo, Opus 95</td>
            <td>Antonin Dvorák</td>
            <td>Klavier</td>
          </tr>
          <tr>
            <td> anh&#246;ren siehe unten Video!</td>
            <td>
              <a
                href="/bilder/Largo-Antonin_Dvorak.pdf"
                target="_blank"
                class="link-green">ansehen</a
              >
            </td>
            <td> &#160;</td>
          </tr>
        </tbody>
      </table>
      <br />
      <br />
      <h2>Video Dateien zum Noten lesen!</h2>

      <div class="video-container-wrapper">
        <div class="video-container">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/ytcQ-I1BTNk"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
        </div>
      </div>
      <p>
        Auf allen diesen obengenannten Werken besteht keine gemapflicht mehr.
        Alle diese St&#252;cke sind also frei! Die Aufnahmen und die Noten sind
        nat&#252;rlich selbst produziert worden!
      </p>
      <p>
        <a href="/" class="link-blue">home</a>
      </p>
      <ul>
        <li><a href="/faq/" class="link-blue">FAQ</a></li>
        <li><a href="/download/" class="link-blue">Download</a></li>
        <li><a href="/harmonielehre/" class="link-blue">Harmonielehre</a></li>
        <li><a href="/impressum/" class="link-blue">Impressum</a></li>
      </ul>
    </article>
  </section>
</Layout>

<style>
  #download {
    display: block;
    width: 96%;
    max-width: 100%;
    margin: 7% auto;
    padding: 1.25em;
    text-align: center;
    font-style: normal;
    font-family: var(--font);
    color: var(--color-white);
    background-color: var(--color-black);
  }

  #download article {
    display: inline-block;
    width: 96%;
    vertical-align: top;
  }

  /* Midi Wiedergabe */
  #download table {
    width: auto;
    text-align: center;
    box-shadow: 1px 2px 5px #666666;
  }

  #download article table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
  }

  #download article table th {
    font-size: 1rem;
    font-weight: bold;
    empty-cells: show;
  }

  #download article table td {
    font-size: 1rem;
    font-weight: normal;
  }

  #download article p {
    margin: 0em;
    text-align: left;
  }

  #download article h3 {
    margin-left: 3%;
    font-size: 1.25rem;
  }

  #download ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
</style>
