---
import BaseLayout from "../layouts/BaseLayout.astro";
import Reznicek from "../../public/bassunterricht/reznicek-bassschule.webp";
export const prerender = true;
const pageTitle = "Bassunterricht";
---

<BaseLayout
  pageTitle={pageTitle}
  description="Ich gebe Bassunterricht in Eibach 🎸. Bass für Anfänger aber auch Pop und Slaptechnick steht auf dem Programm."
  keywords="bassunterricht, rock bass jäcki reznicek, e-bassunterricht, e-bass unterricht, e-bassunterricht nürnberg, e-bassunterricht in eibach, unterricht bassgitarre, bass lehrer, bassgitarre lernen, bassgitarre lernen, bass unterricht, bass gitarre anfänger, bass unterricht in der nähe, e-bass lernen, e-bass für anfänger, bassnoten für anfänger, e-bass lehrer, noten lernen bass"
  href="https://www.musicstudio-ziebart.de/e-bass/"
>
  <section>
    <article>
      <h2>Rock Bass Jäcki Reznicek</h2>
      <p>
        <img
          src={Reznicek.src}
          width={Reznicek.width}
          height={Reznicek.height}
          alt="Bild SEO Bassschule von Jäcki Reznicek"
          aria-label="Bild SEO Bassschule von Jäcki Reznicek"
        />
      </p>
    <p>
      Für den E-Bassunterricht nehme ich gerne die E-Bass Schule von dem Jäcki
      Reznicek. "Rock Bass" heißt der Titel davon. Es ist eine CD zum mitspielen
      dabei. Es wird auch auf die Pop und Slap Technik ausführlich eingegangen.
      Die E-Bass Schule arbeitet mit Tabulatur und mit Noten. Eine sehr
      professionelle Schule wie ich meine. Wie der Name der Schule schon aussagt
      wird vorwiegend Rockmusik gespielt. Aber es ist auch viel "Funk" dabei.
    </p>
    <p>
      <a href="/leistungen/" class="normal-links">zurück</a>
    </p>
    </article>
  </section>
</BaseLayout>

<style>
  section article img {
    max-width: 30%;
    height: auto;
    box-shadow: 0px 0px 10px 5px #4c4948;
    border-radius: 5px;
    float: right;
    margin-top: 1.25rem;
    margin-left: 1rem;
    margin-right: 3rem;
  }
</style>
