---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Ich gebe E-Bass Unterricht in Eibach"
  keywords="Bass Unterricht, bassunterricht, e-bassunterricht, e-bass unterricht, e-bassunterricht nürnberg, e-bassunterricht in eibach, unterricht bassgitarre, basslehrer, bassgitarre lernen, bassunterricht, e-bass lernen, e-bass anfänger, bassnoten für anfänger, e-bass lehrer, bass lessons"
>
  <h1>E-Bassunterricht</h1>
  <section id="instruments_lesson">
    <article>
      <h2>Rock Bass Jäcki Reznicek</h2>
      <picture>
        <source
          srcset="/images/reznicek-wide.webp"
          media="(min-width: 600px)"
        />
        <img
          src="/images/reznicek-narrow.webp"
          width="299"
          height="420"
          alt="Bassschule"
        />
      </picture>
      <p>
        Für den E-Bassunterricht nehme ich gerne die E-Bass Schule von dem Jäcki
        Reznicek. "Rock Bass" heißt der Titel davon. Es ist eine CD zum
        mitspielen dabei. Es wird auch auf die Pop und Slap Technik ausführlich
        eingegangen. Die E-Bass Schule arbeitet mit Tabulatur und mit Noten.
        Eine sehr professionelle Schule wie ich meine. Wie der Name der Schule
        schon aussagt wird vorwiegend Rockmusik gespielt. Aber es ist auch viel
        "Funk" dabei.
      </p>
      <p>
        <a href="/leistungen/" class="link-white">zurück</a>
      </p>
      <ul>
        <li><a href="/faq/" class="link-blue">FAQ</a></li>
        <li><a href="/download/" class="link-blue">Download</a></li>
        <li><a href="/harmonielehre/" class="link-blue">Harmonielehre</a></li>
        <li><a href="/impressum/" class="link-blue">Impressum</a></li>
      </ul>
    </article>
  </section>
</Layout>
