---
import BaseLayout from "../layouts/BaseLayout.astro";
import YouTube from "../components/YouTube.astro";
import "../styles/lite-yt-embed.css";
export const prerender = true;
const pageTitle = "E-Gitarrenunterricht für Rockgitarre";
---

<BaseLayout
  pageTitle={pageTitle}
  description="Ich gebe E-Gitarrenunterricht 🎸in nürnberg eibach. E-Gitarre für Anfänger. Gerne auch weiterführende Techniken."
  keywords="e-gitarrenunterricht für rockgitarre, ten words - jo satriani, schule der rockgitarre, elektische gitarre lernen, e-gitarre lernen, e gitarrenunterricht, gitarren lehrer, e gitarrenunterricht n&uuml;rnberg, e gitarre für anfaenger, e gitarrenlehrer in n&uuml;rnberg"
  href="https://www.musicstudio-ziebart.de/e-gitarrenunterricht/"
>
  <article>
    <p>
      <img
        src="/images/e-gitarrenunterricht.webp"
        alt="Bild SEO E-Gitarrenunterricht für Rockgitarre-e-gitarrenunterricht"
        aria-label="Bild SEO E-Gitarrenunterricht für Rockgitarre-e-gitarrenunterricht"
      />
    </p>
    <br />
    <section>
      <h2>Wie lernt man am besten E-Gitarre spielen?</h2>
      <p>
        Man lernt am besten E-Gitarre spielen wenn man vorher schon mal
        Akustische Gitarre gespielt hat. Wenn man vorher noch kein Instrument
        gespielt hat macht es auch nichts. Die unten aufgeführte
        E-Gitarrenschule von Andreas Scheinhütte ist auch für Anfänger
        aufgebaut.
      </p>
      <h3>Kann man sich Gitarre spielen selbst beibringen?</h3>
      <p>
        Ja, man kann die Schule auch alleine durch arbeiten aber es ist schon
        besser einen Gitarrenlehrer bei seiner Seite zu haben der genauestens
        zeigt wie das ganze funktioniert damit man auch Fortschritte erkennt.
        Zumindest mal am Anfang!
      </p>
      <h3>Ist es einfach E-Gitarre zu lernen?</h3>
      <p>
        Im Vergleich zu anderen Instrumenten kann eher mit leicht antworten wenn
        es sich um die Begleitung mit Powerchords handelt. Gitarrensolos sind
        dagegen ziemlich schwierig weil sie oft sehr schnell gespielt werden.
      </p>
      <h3>Wie schnell kann man E-Gitarre lernen?</h3>
      <p>2 Jahre würde ich mal mindestens sagen.</p>
      <h2>Schule der Rockgitarre, Andreas Scheinhütte</h2>
      <p>
        <img
          src="/images/scheinhuette-e-gitarrenschule.webp"
          alt="Bild SEO E-Gitarrenschule von Andreas Scheinhuette"
          aria-label="Bild SEO E-Gitarrenschule von Andreas Scheinhütte"
        />
      </p>
      <p>
        Für die E-Gitarre gibt es eine tolle E-Gitarrenschule von Andreas
        Scheinhütte. Das Werk heißt "Schule der Rockgitarre". Es ist eine CD zum
        mitspielen dabei! Es gibt 2 Bänder davon. Der Band 2 beinhaltet eine 80
        Min.-CD mit Original-Playbacks von Nirvana, Santana, Deep Purple, Pink
        Floyd, Blink 182, Linkin Park, Sting, Eric Clapton, Brian Adams, Toto,
        Limp Bizkit, Red Hot Chilli Peppers u.a. zum Üben und Mitspielen. Ein
        Extra Kapitel für Tapping Studien ist dabei. beim Tapping geht die
        rechte Hand auf das Griffbrett und tabt dann einen Ton. Dieser wird dann
        wieder abgezogen und erzeugt einen neuen. Das Gitarren Bending wird
        natürlich genau erklärt. Außerdem wird auf die Harmonielehre eingegangen
        und auch auf die Kirchentonarten wie z.B. dorisch oder mixolydisch. Auch
        auf die Power Chords werden gut erklärt. In diesem Band ist alles
        drinnen was man als moderner Gitarrist oder Gitarristin braucht. Auch
        auf die Funky Grooves wird eingegangen wie man so was spielt und vieles
        mehr.
      </p>
      <h3>Die Dauer der Lernzeit</h3>
      <p>
        Bis man die 2 Bänder "Schule der Rockgitarre" durch gearbeitet hat
        dauert es mindestens zwei Jahre. Aber es macht ja auch Spaß mit dieser
        Schule zu arbeiten. Für den E-Gitarrenunterricht ist diese
        E-Gitarrenschule unerläßlich. Diese E-Gitarrenschule ist wie der Titel
        gut beschreibt auf die Rockgitarre ausgelegt. Übrigens die ganzen Stücke
        in der Schule für Rockgitarre sind auf Noten und auf Tabulatur
        aufgeschrieben worden. Die Amerikaner schreiben ihre Songs ganz normal
        mit Noten auf und setzten darunter dann noch eine Tabulatur ohne Hälse.
        Dann weiß man ganz genau auf welchem Bund gespielt werden muss.
      </p>
      <p>
        Auch für Heavy Metal Fans ist diese E-Gitarrenschule unerläßlich meine
        ich. Sie bietet halt den Grundstock für alles.
      </p>
    </section>
    <section>
      <section>
        <h2>Ten Words - Jo Satriani</h2>
        <p>
          Ein tolles Stück um eine E-Gitarre zu respräsentieren ist das Stück
          von Jo Satriani "Ten Words". Ich habe es mal aufgenommen und auf
          YouTube gestellt.
        </p>

        <div class="video-container-wrapper">
          <div class="video-container">
            <lite-youtube
              videoid="8ucTzPOBzAo"
              style="background-image: url('https://i.ytimg.com/vi/8ucTzPOBzAo/hqdefault.jpg');"
            >
              <a
                href="https://www.youtube.com/embed/vxX0WiQhSUE?si=8ucTzPOBzAo"
                class="lty-playbtn"
                title="Joe Satriani - Ten Words Guitar Lesson+Tab"
              >
                <span class="lyt-visually-hidden"
                  >Play Video: Keynote (Google I/O '18)</span
                >
              </a>
            </lite-youtube>
          </div>
        </div>
        <p>
          <a href="/unterricht/" class="normal-links">zurück</a>
        </p>
      </section>
    </section>
  </article>
</BaseLayout>

<YouTube />

<style>
  article img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 1.25rem;
  }

  article section img {
    max-width: 30%;
    height: auto;
    box-shadow: 0px 0px 10px 5px #4c4948;
    border-radius: 5px;
    float: right;
    margin-top: 1.25rem;
    margin-left: 1rem;
    margin-right: 3rem;
  }
</style>
