---
import BaseLayout from "../layouts/BaseLayout.astro";
import Scheinhuette from "../../public/images/scheinhuette-narrow.webp";
import YouTube from "../components/YouTube.astro";
import "../styles/lite-yt-embed.css";
export const prerender = true;
const pageTitle = "E-Gitarrenunterricht";
---

<BaseLayout
  pageTitle={pageTitle}
  description="Ich gebe E-Gitarrenunterricht in nürnberg eibach"
  keywords="e-gitarrenunterricht, ten words - jo satriani, schule der rockgitarre, Elektro Gitarre lernen, e-gitarre, elektro gitarre, e gitarrenunterricht, e-gitarrenunterricht in eibach, e-gitarrenlehrer in nürnberg, musikschule e-gitarre, e-gitarrenunterricht online, e-gitarrenunterricht nürnberg, e-gitarrenkurs online, online e-gitarre, e-gitarre akkorde lernen, musikunterricht e-gitarre, rockgitarre lernen, e-gitarrenlehrer, e-gitarrensolo lernen, e-gitarre für anfänger, e-gitarren unterricht, e-gitarre lernen, e-gitarre anfänger, musikschule e gitarre, e gitarrenunterricht online, powerchords lernen, e gitarrenunterricht nürnberg, e gitarrenkurs online, online e gitarre, e gitarre akkorde lernen, e gitarren kurs, musikunterricht e gitarre, e gitarren lehrer, e-guitar lessons"
  href="https://www.musicstudio-ziebart.de/e-gitarrenunterricht/"
>
  <section>
    <p>Ten Words - Jo Satriani</p>
      <div class="video-container-wrapper">
        <div class="video-container">
          <lite-youtube videoid="8ucTzPOBzAo" style="background-image: url('https://i.ytimg.com/vi/8ucTzPOBzAo/hqdefault.jpg');">
            <a href="https://www.youtube.com/embed/vxX0WiQhSUE?si=8ucTzPOBzAo" class="lty-playbtn" title="Joe Satriani - Ten Words Guitar Lesson+Tab">
              <span class="lyt-visually-hidden">Play Video: Keynote (Google I/O '18)</span>
            </a>
            </lite-youtube>  
        </div>
      </div>
    <article>
      <h2>Schule der Rockgitarre, Andreas Scheinhütte</h2>
      <p>
        <img
          src={Scheinhuette.src}
          width={Scheinhuette.width}
          height={Scheinhuette.height}
          alt="E-Gitarrenschule von Andreas Scheinhuette"
          aria-label="E-Gitarrenschule von Andreas Scheinhütte"
        />
      </p>
      <br />
      <br />
      <br />
      <p>
        Für die E-Gitarre gibt es eine tolle E-Gitarrenschule von Andreas
        Scheinhütte. Das Werk heißt "Schule der Rockgitarre". Es ist eine CD zum
        mitspielen dabei! Es gibt 2 Bänder davon.
      </p>
      <p>
        Ein tolles Stück um eine E-Gitarre zu respräsentieren ist das Stück von
        Jo Satriani "Ten Words". Ich habe es mal aufgenommen und auf YouTube
        gestellt.
      </p>
      <p>
        <a href="/leistungen/" class="normal-links">zurück</a>
      </p>
    </article>
  </section>
</BaseLayout>

<YouTube />
