---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "E-Gitarrenunterricht";
---

<BaseLayout
  pageTitle={pageTitle}
  description="Ich gebe E-Gitarrenunterricht in nürnberg eibach"
  keywords="Elektro Gitarre lernen, e-gitarre, elektro gitarre, e gitarrenunterricht, e-gitarrenunterricht in eibach, e-gitarrenlehrer in nürnberg, musikschule e-gitarre, e-gitarrenunterricht online, e-gitarrenunterricht nürnberg, e-gitarrenkurs online, online e-gitarre, e-gitarre akkorde lernen, musikunterricht e-gitarre, rockgitarre lernen, e-gitarrenlehrer, e-gitarrensolo lernen, e-gitarre für anfänger, e-gitarren unterricht, e-gitarre lernen, e-gitarre anfänger, musikschule e gitarre, e gitarrenunterricht online, powerchords lernen, e gitarrenunterricht nürnberg, e gitarrenkurs online, online e gitarre, e gitarre akkorde lernen, e gitarren kurs, musikunterricht e gitarre, e gitarren lehrer, e-guitar lessons"
  href="https://www.musicstudio-ziebart.de/e-gitarrenunterricht/"
>
  <section>
    <article>
      <h2>Schule der Rockgitarre, Andreas Scheinhütte</h2>
      <picture>
        <source
          srcset="/images/scheinhuette-wide.webp"
          media="(min-width: 600px)"
        />
        <img
          src="/images/scheinhuette-narrow.webp"
          width="299"
          height="420"
          alt="E-Gitarrenschule"
        />
      </picture>
      <p>
        Für die E-Gitarre gibt es eine tolle E-Gitarrenschule von Andreas
        Scheinhütte. Das Werk heißt "Schule der Rockgitarre". Es ist eine CD zum
        mitspielen dabei! Es gibt 2 Bänder davon.
      </p>
      <p>
        Ein tolles Stück um eine E-Gitarre zu respräsentieren ist das Stück von
        Jo Satriani "Ten Words". Ich habe es mal aufgenommen und auf YouTube
        gestellt.
      </p>
      <h2>Ten Words - Jo Satriani</h2>
      <div class="video-container-wrapper">
        <div class="video-container">
          <iframe
            src="https://www.youtube.com/embed/8ucTzPOBzAo?rel=0"
            width="560"
            height="315"
            title="Joe Satriani - Ten Words Guitar Lesson+Tab"
            frameborder="0"
            allowfullscreen></iframe>
        </div>
      </div>
      <p>
        <a href="/leistungen/" class="normal-links">zurück</a>
      </p>
    </article>
  </section>
</BaseLayout>
