---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Die meist gestelltesten Fragen"
  description="Die meistgestelltesten Fragen!"
  keywords="H채ufig gestellte Fragen"
>
  <h2>H&auml;ufig gestellte Fragen</h2>
  <section id="faq">
    <div>
      <h2>FAQ</h2>
      <div
        style="
            float: left;
            margin-right: 20px;
            margin-bottom: 20px;
            border: solid 1px red;
            text-align: center;
          "
      >
        Frage
        <br />
        <br />
        <br />
        <span style="font-family: Algerian, serif; font-size: 96px; color: red"
          >&nbsp;1&nbsp;</span
        >
      </div>
      <p style="font-size: 1.25em">
        Wie ist die K체ndigung bei einem Online-Musikunterricht?
      </p>
      <p style="clear: left">
        Die K체ndigung ist monatlich. 
        Sie brauchen sich also auf keinerlei l채ngere Vertragsbindung einlassen.
        Der Monat August in den Ferien wird nicht bezahlt.
      </p>
      <br />
      <div
        style="
            float: left;
            margin-right: 20px;
            margin-bottom: 20px;
            border: solid 1px red;
            text-align: center;
          "
      >
        Frage
        <br />
        <br />
        <br />
        <span style="font-family: Algerian, serif; font-size: 96px; color: red"
          >&nbsp;2&nbsp;</span
        >
      </div>
      <p style="font-size: 1.25em">
        Wie alt muss mein Kind sein um ein Instrument erlernen zu k&ouml;nnen?
      </p>
      <p style="clear: left">
        Ich w&uuml;rde sagen fr&uuml;hestens ab der 1. besser ab der 2. Klasse.
        Dann k&ouml;nnen die Kinder das Buchstabenalphabet und man kann ihnen
        somit leichter das Notensystem erkl&auml;ren.
      </p>
      <div
        style="
            float: left;
            margin-right: 20px;
            margin-bottom: 20px;
            border: solid 1px red;
            text-align: center;
          "
      >
        Frage
        <br />
        <br />
        <br />
        <span style="font-family: Algerian, serif; font-size: 96px; color: red"
          >&nbsp;3&nbsp;</span
        >
      </div>
      <p style="font-size: 1.25em">
        Machen Sie Fr&uuml;herziehung ab 2 Jahren?
      </p>
      <p style="clear: left">Nein, definitiv nicht!</p>
      <br />
      <div
        style="
            float: left;
            margin-right: 20px;
            margin-bottom: 20px;
            border: solid 1px red;
            text-align: center;
          "
      >
        Frage
        <br />
        <br />
        <br />
        <span style="font-family: Algerian, serif; font-size: 96px; color: red"
          >&nbsp;4&nbsp;</span
        >
      </div>
      <p style="font-size: 1.25em">
        Wo kann ich das richtige Instrument kaufen?
      </p>
      <p style="clear: left">
        Ich kann Ihnen den
        <a href="http://www.musik-klier.de/index.asp">Musik Klier</a> in der S&uuml;dstadt
        empfehlen. Es ist ein gro&szlig;es Musikgesch&auml;ft mit einer Reparaturwerkstatt.
      </p>
      <br />
      <div
        style="
            float: left;
            margin-right: 20px;
            margin-bottom: 20px;
            border: solid 1px red;
            text-align: center;
          "
      >
        Frage
        <br />
        <br />
        <br />
        <span style="font-family: Algerian, serif; font-size: 96px; color: red"
          >&nbsp;5&nbsp;</span
        >
      </div>
      <p style="font-size: 1.25em">
        Findet der Musikunterricht w&auml;hrend den Ferien statt?
      </p>
      <p style="clear: left">
        Nein, w&auml;hrend der Schulferien hat die Musikschule geschlossen wie
        es die bayerische Ferienverordnung vorsieht.
      </p>
      <br />
      <div
        style="
            float: left;
            margin-right: 20px;
            margin-bottom: 20px;
            border: solid 1px red;
            text-align: center;
          "
      >
        Frage
        <br />
        <br />
        <br />
        <span style="font-family: Algerian, serif; font-size: 96px; color: red"
          >&nbsp;6&nbsp;</span
        >
      </div>
      <p style="font-size: 1.25em">
        Muss ich w&auml;hrend der Ferien das Unterrichtshonorar weiter bezahlen?
      </p>
      <p style="clear: left">Ja, denn es ist alles auf ein Jahr umgerechnet.</p>
      <br />
      <div
        style="
            float: left;
            margin-right: 20px;
            margin-bottom: 20px;
            border: solid 1px red;
            text-align: center;
          "
      >
        Frage
        <br />
        <br />
        <span style="font-family: Algerian, serif; font-size: 96px; color: red"
          >&nbsp;7&nbsp;</span
        >
      </div>
      <p style="font-size: 1.25em">Wie lange laufen Ihre Vertr&auml;ge?</p>
      <p style="clear: left">
        Die Musikunterrichtsvertr&auml;ge laufen auf ein halbes Jahr mit einem
        Monat K&uuml;ndigungsfrist. Dies ist eine gute K&uuml;ndigungsfrist. Bei
        einem Sportverein oder in anderen Musikschulen laufen die Vertr&auml;ge
        auf ein Jahr. Um ein Instrument einigerma&szlig;en spielen zu
        k&ouml;nnen dauert es eben mindestens ein bis zwei Jahre!
      </p>
      <br />
      <div
        style="
            float: left;
            margin-right: 20px;
            margin-bottom: 20px;
            border: solid 1px red;
            text-align: center;
          "
      >
        Frage
        <br />
        <br />
        <br />
        <span style="font-family: Algerian, serif; font-size: 96px; color: red"
          >&nbsp;8&nbsp;</span
        >
      </div>
      <p style="font-size: 1.25em">
        Wieviel Geld kostet der Musikunterricht im Monat?
      </p>
      <p style="clear: left">
        Der Unterricht findet einmal w&ouml;chentlich statt!<br /> &#8226; 2er Gruppenunterricht
        45 min 51,- EUR im Monat. <br /> &#8226; Einzelunterricht 45 min 65,- EUR
        im Monat.
        <br />
        &#8226; Online-Musikunterricht 45 min 65,- EUR im Monat.
      </p>
      <br class="clear" />
      <p><a href="/" class="link-white">home</a></p>
      <br />
    </div>
    <ul>
      <li><a href="/faq/" class="link-blue">FAQ</a></li>
      <li><a href="/download/" class="link-blue">Download</a></li>
      <li><a href="/harmonielehre/" class="link-blue">Harmonielehre</a></li>
      <li><a href="/impressum/" class="link-blue">Impressum</a></li>
    </ul>
  </section>
</Layout>

<style>
  #faq {
    display: block;
    width: 96%;
    max-width: 100%;
    padding: 0em;
    font-family: var(--font);
    font-style: normal;
    margin: 2rem auto;
    color: var(--color-white);
    background-color: var(--color-black);
  }

  #faq article {
    display: inline-block;
    margin: 2rem auto;
    padding: 1.25rem;
    text-align: left;
    width: 100%;
    vertical-align: top;
  }

  .row {
    position: relative;
    margin: 0px 0 0 50px;
    float: right;
    width: 350px;
  }

  .row img {
    float: left;
  }

  .row p {
    margin-left: 100px;
  }

  #faq div {
    margin-left: 3%;
  }

  #faq ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
</style>
