---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="gästebuch"
    description="Gästebuch"
    keywords="Musicstudio Ziebart"
/>

<h1>Gästebuch</h1>
<div id="gaestebuchEintraege"></div>

<h2>Neuer Gästebucheintrag</h2>
<form
    name="gaestebuch"
    method="POST"
    action="/thankyou/"
    data-netlify-recaptcha="true"
    data-netlify="true"
>
    <input type="hidden" name="form-name" value="gaestebuch" />
    <label for="name">Name:</label>
    <input type="text" id="name" required /><br />

    <label for="nachricht">Nachricht:</label><br />
    <textarea id="nachricht" rows="4" cols="30" required></textarea><br />

    <div data-netlify-recaptcha="true"></div>

    <input
        type="submit"
        value="Eintragen"
        onclick="eintragHinzufuegen(event)">
    <br />
    <br />
    <a href="../index.html" class="link-blue">zurück</a>
</form>
</Layout>

<style>
    #gaestebuchEintraege {
        margin: 0 auto;
        padding: 5%;
        box-sizing: border-box;
    }

    body {
        font-family: var(--font);
        color: var(--color-white);
        background-color: var(--color-black);
        text-align: center;
    }

    form {
        max-width: 31.25rem;
        margin: 0 auto;
        text-align: left;
        padding: 1.25rem;
        font-size: 1.125rem;
        margin-bottom: 1,25rem;
    }

    label {
        display: block;
        font-size: 1.125rem;
        padding: 0.625rem;
    }

    input[type="text"],
    textarea {
        color: var(--color-white);
        background-color: var(--color-black);
        font-family: "Poppins", sans-serif;
        font-size: 1.125rem;
        /*color: #fff; */
        font-size: 1.125rem;
        padding: 0.625rem;
    }

    input[type="submit"] {
        cursor: pointer;
    }

    #gaestebuchEintraege {
        margin-top: 1,25rem;
    }

    #gaestebuchEintraege div {
        background-color: #f9f9f9;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    #gaestebuchEintraege p {
        margin: 5px 0;
    }
</style>
