---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Gitarrenunterricht"
  description="Ich gebe Gitarrenunterricht in nürnberg eibach aller Altersklassen"
  keywords="gitarrenunterricht, musicstudio-ziebart, gitarrenschule in nürnberg, jetzt anmelden, gitarrenlehrer, gitarrenschule, guitar unterricht, gitarrenunterricht nürnberg, gitarre online, gitarren unterricht, gitarre zum lernen, gitarre lernen in nürnberg, gitarrenunterricht in der nähe, online gitarrenkurs, gitarre anfänger, gitarre lernen, gitarre lernen akkorde, gitarrenlehrer nürnberg, gitarren kurse, spanische gitarre lernen, klassische gitarre lernen, gitarre fingerpicking, gitarrenunterricht für anfänger, gitarre spielen, gitarre spielen lernen, unterricht gitarre, musikunterricht gitarre, gitarre spielen lernen, gitarrenkurs, guitar lessons"
>
  <h1>Gitarrenunterricht</h1>
  <section id="instruments_lesson">
    <article>
      <h2>Fridolin</h2>
      <picture>
        <source
          srcset="/images/teschner-wide.webp"
          media="(min-width: 600px)"
        />
        <img
          src="/images/teschner-narrow.webp"
          width="382"
          height="499"
          alt="Gitarrenschule"
        />
      </picture>
      <p>
        Ich nehme für den Gitarrenunterricht die Schule vom Hans Joachim
        Teschner. Der Titel der Schule heißt "Fridolin". Es gibt 2 Bänder davon.
        Die Gitarrenschule ist für 5 - 11 jährige. Die Erwachsenen nehmen diese
        Schule aber auch gern da sie leicht verständlich ist.
      </p>
      <br />
      <p>
        Ein schönes Beispiel für ein Fingerpicking mit Gitarre und Gesang: Ich
        habe mir damals den Song von Arlo Guthrie rausgesucht. Es heißt "City Of
        NewOrleans". Er selbst spielt übrigens bei diesem Song ein Klavier.
      </p>

      <div class="video-container-wrapper">
        <div class="video-container">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/yEF6e2ZSZ0k"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
        </div>
      </div>
      <br />
      <picture>
        <source srcset="/images/sor-wide.webp" media="(min-width: 600px)" />
        <img
          src="/images/sor-narrow.webp"
          width="425"
          height="584"
          alt="Sor_Opus_35"
        />
      </picture>
      <h2>Fernando Sor Opus 35, Opus 31</h2>
      <p>
        Wenn die beiden Bänder gespielt worden sind nehme ich noch das
        Musikhochschulmaterial her von dem spanischen Gitarristen Fernando Sor.
        Es sind insgesamt 4 Bänder mit je 12 Stücken: Opus 35/I + II und Opus
        31/I + II. Dazwischen kann man dann noch Vortragsstücke einbauen.
      </p>
      <p>
        <a href="/instrumentenkauf/" class="link-blue">Mehr Info über die Gitarre</a>
      </p>
      <p>
        <a href="/leistungen/" class="link-white">zurück</a>
      </p>
      <ul>
        <li><a href="/faq/" class="link-blue">FAQ</a></li>
        <li><a href="/download/" class="link-blue">Download</a></li>
        <li><a href="/harmonielehre/" class="link-blue">Harmonielehre</a></li>
        <li><a href="/impressum/" class="link-blue">Impressum</a></li>
      </ul>
    </article>
  </section>
</Layout>
