---
import BaseLayout from "../layouts/BaseLayout.astro";
import YouTube from "../components/YouTube.astro";
import "../styles/lite-yt-embed.css";
export const prerender = true;
const pageTitle = "Harmonielehre Grundbegriffe lernen";
// Video Daten
const videoData = [
{
    loc: "/harmonieliehre/",
    title: "Notenschrift",
    description: "Ich möchte mit diesem Video die Notenschrift erklären die ja doch so wichtig für die Musik ist!",
    content_loc: "https://www.youtube.com/embed/vxX0WiQhSUE?si=Hu4ef1IkuG0",
    thumbnail_loc: "https://i.ytimg.com/vi/Hu4ef1IkuG0/hqdefault.jpg",
    publication_date: "2021-04-192021-07-17T00:00:00+01:00",
    duration: "PT13M52S"
  },
  {
    loc: "/harmonieliehre/",
    title: "Intervalle",
    description: "Ich werde in diesem Video versuchen die Intervalle zu erklären und zu bestimmen. Ein Intervall ist der Tonabstand zweier Töne. Also Prime, Sekunde, Terz, Quarte, Quinte, Sexte, Septime und Oktave.",
    content_loc: "https://www.youtube.com/embed/vxX0WiQhSUE?si=804rrOOFzAQ",
    thumbnail_loc: "https://i.ytimg.com/vi/804rrOOFzAQ/hqdefault.jpg",
    publication_date: "2023-04-272021-07-17T00:00:00+01:00",
    duration: "PT17M55S"
  },
  {
    loc: "/harmonieliehre/",
    title: "Dreiklänge",
    description: "Ich werde in diesem Video versuchen die Dreiklänge besser zu verstehen. Sie sind wichtig da diese zum Beispiel eintscheiden ob ein Akkord ein Durakkord ist oder ein Mollakkord und noch vieles mehr.",
    content_loc: "https://www.youtube.com/embed/vxX0WiQhSUE?si=fgzboODvlQ4",
    thumbnail_loc: "https://i.ytimg.com/vi/fgzboODvlQ4/hqdefault.jpg",
    publication_date: "2021-05-052021-07-17T00:00:00+01:00",
    duration: "PT20M44S"
  },
  {
    loc: "/harmonieliehre/",
    title: "Funktionsthorie",
    description: "Bei der Funktionstheorie geht es haupsächlich darum auf welchen Stufen die Akkorde stehen. Die drei Haupdreiklänge heißen zum Beispiel Tonika, Dominante und Subdominante. Sie liegen auf der I., IV. und V. Stufe.",
    content_loc: "https://www.youtube.com/embed/vxX0WiQhSUE?si=tCkpok099xw",
    thumbnail_loc: "https://i.ytimg.com/vi/tCkpok099xw/hqdefault.jpg",
    publication_date: "2021-05-102021-07-17T00:00:00+01:00",
    duration: "PT12M22S"
  }
];
---

<BaseLayout
  pageTitle={pageTitle}
  description="Harmonielehre, Noten lesen, Intervalle, Dreiklänge und Funktionstheorie 🤓. Einfach mal vorbei schauen um was zu lernen!"
  keywords="harmonielehre, noten lesen, intervalle, dreiklänge, funktiontsheorie"
  href="https://www.musicstudio-ziebart.de/harmonielehre/"
>
  <article id="harmonielehre">
    <h2>Lernvideos</h2>
    <section>
      <hr />
      <p>
        Ich möchte den Schülern, Musikinteressierte oder Hobbymusiker auf diese
        Weise das Noten lesen und die Harmonielehre ein bisschen näher bringen!
        Die Videos sind so aufgebaut das man zuerst die Noten lesen kann, dann
        kommen die Intervalle, dann die Dreiklänge und zuletzt die
        Funktiontheorie. Also bitte nach dieser Reihenfolge lernen.
        <br /> Ich werde im ersten Video das "Noten lesen" erklären.
      </p>
      <p>
        Hier könnt ihr euch ein <a
          href="/images/Notenblatt.pdf"
          target="_blank"
          class="normal-links">leeres Notenblatt</a
        > downloaden! Es dient für den Aufgabenanhang für das Video Notenschrift.
        Downloaden, ausdrucken und dann am besten mit Bleistift die Noten und drunter
        die Buchstaben schreiben!
      </p>
      <h2>Notenschrift</h2>
      <div class="video-container-wrapper">
        <div class="video-container">
          <lite-youtube
            videoid="Hu4ef1IkuG0"
            style="background-image: url('https://i.ytimg.com/vi/Hu4ef1IkuG0/hqdefault.jpg');"
          >
            <a
              href="https://www.youtube.com/embed/Hu4ef1IkuG0"
              class="lty-playbtn"
              title="Notenschrift"
            >
              <span class="lyt-visually-hidden"
                >Play Video: Notenschrift</span
              >
            </a>
          </lite-youtube>
        </div>
      </div>
      <p>
        <br /> Im zweiten Video geht es darum die Intervallen zu verstehen und zu
        bestimmen.
      </p>
      <h3>Intervalle</h3>
      <div class="video-container-wrapper">
        <div class="video-container">
          <lite-youtube
            videoid="804rrOOFzAQ"
            style="background-image: url('https://i.ytimg.com/vi/804rrOOFzAQ/hqdefault.jpg');"
          >
            <a
              href="https://www.youtube.com/embed/804rrOOFzAQ"
              class="lty-playbtn"
              title="Intervalle"
            >
              <span class="lyt-visually-hidden"
                >Play Video: Intervalle</span
              >
            </a>
          </lite-youtube>
        </div>
      </div>

      <p>
        Im dritten Video erkläre ich die Dreiklänge. Wie man Dur und Moll
        Akkorde bestimmen kann usw.
      </p>
      <h4>Dreiklänge</h4>
      <div class="video-container-wrapper">
        <div class="video-container">
          <lite-youtube
            videoid="fgzboODvlQ4"
            style="background-image: url('https://i.ytimg.com/vi/fgzboODvlQ4/hqdefault.jpg');"
          >
            <a
              href="https://www.youtube.com/embed/fgzboODvlQ4"
              class="lty-playbtn"
              title="Dreiklänge"
            >
              <span class="lyt-visually-hidden"
                >Play Video: Dreiklänge</span
              >
            </a>
          </lite-youtube>
        </div>
      </div>
      <p>
        Und im vierten Video geht es um eine Funktionstheorie. Das sollte
        eigentlich das Grundwissen eines jeden Musikers sein.
      </p>
      <h5>Funktionstheorie</h5>
      <div class="video-container-wrapper">
        <div class="video-container">
          <lite-youtube
            videoid="tCkpok099xw"
            style="background-image: url('https://i.ytimg.com/vi/tCkpok099xw/hqdefault.jpg');"
          >
            <a
              href="https://www.youtube.com/embed/tCkpok099xw"
              class="lty-playbtn"
              title="Funktionstheorie"
            >
              <span class="lyt-visually-hidden"
                >Play Video: Funktiontsheorie</span
              >
            </a>
          </lite-youtube>
        </div>
      </div>
    </section>
  </article>
</BaseLayout>

<YouTube />
