---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Honorar"
  description="Was kostet heutzutage ein guter Musikunterricht?"
  keywords="Honorar, Preise"
>
  <h1>Günstige Preise für Ihren Musikunterricht</h1>
  <section id="honorar">
    <h2>Der Unterricht findet einmal in der Woche statt!</h2>
    <div class="container">
      <div class="item item-1">
        <p>
          <b>Form</b><br />
          2-er Gruppe<br />
          Einzelunterricht
        </p>
      </div>
      <div class="item item-2">
        <p>
          <b>Dauer</b><br />
          45 min <br />
          45 min
        </p>
      </div>
      <div class="item item-3">
        <p>
          <b>Preise</b><br />
          <b>50,- EUR</b> Monatshonorar pro Person<br />
          <b>65,- EUR</b> Monatshonorar
        </p>
      </div>
    </div>
    <p>
      Der Gruppenunterricht besteht in der Regel nur aus zwei Sch&#252;lern! Man
      hat dann mehr Zeit f&#252;r jeden einzelnen. Im
    </p>
    <h2>Online-Musikunterricht</h2>
    <p>gelten &#252;brigens die selben Preise!</p>
    <p>
      Die Ferieneinteilung ist dem allgemeinen Schulbetrieb angepa&#223;t. Die
      Aufnahme eines Sch&#252;lers ist jederzeit m&#246;glich. Der
      Unterrichtsvertrag gilt zun&#228;chst f&#252;r ein halbes Jahr, wobei eine
      K&#252;ndigungsfrist von einem Monat einzuhalten ist.
    </p>
    <p>
      Es gibt vom Sozialamt N&uuml;rnberg sogenannte Gutschein Coupons f&uuml;r
      sozialschw&auml;chere Familien. Ich nehme die Gutscheine gerne an und
      l&ouml;se sie beim Sozialamt ein. Wenn Sie n&auml;heres dar&uuml;ber
      wissen m&ouml;chten ist hier der Link dazu:
      <br />
    </p>
    <picture>
      <source
        srcset="/images/button-orange-wide.webp"
        media="(min-width: 600px)"
      />
      <img
        src="/images/button-orange-narrow.webp"
        width="236"
        height="236"
        alt="sozialamt"
      />
    </picture>
    <p>
      <a
        href="https://www.nuernberg.de/internet/sozialamt/bildung_und_teilhabe.html"
        rel="noopener noreferrer noopener noopener"
        target="_blank" class="link-blue"
        >Leistungen f&uuml;r Bildung und Teilhabe N&uuml;rnberg
      </a>
    </p>
    <ul>
      <li><a href="/faq/" class="link-blue">FAQ</a></li>
      <li><a href="/download/" class="link-blue">Download</a></li>
      <li><a href="/harmonielehre/" class="link-blue">Harmonielehre</a></li>
      <li><a href="/impressum/" class="link-blue">Impressum</a></li>
    </ul>
  </section>
</Layout>

<style>
  .container {
    font-style: normal;
    color: var(--color-white);
    background-color: var(--color-black);
    border: 1px solid #333;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .item {
    padding: 0.5rem 1.5rem;
  }

  .item-1 {
    flex: 25%;
  }

  .item-2 {
    flex: 25%;
  }

  .item-3 {
    flex: 50%;
  }

  #honorar {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 1.5rem;
    font-style: normal;
    color: var(--color-white);
    background-color: var(--color-black);
  }

  #honorar picture img {
    max-width: 25%;
    height: auto;
    box-shadow: 0px 0px 10px 5px #4c4948;
    border-radius: 5px;
    margin-left: 15%;
  }

  #honorar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
</style>
