---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Impressum" description="Impressum" keywords="Impressum">
  <h1>Impressum</h1>
  <section id="impressum">
    <h2>Adresse</h2>
    <div>
      <hr />
      <p>
        Musikstudio Ziebart
        <br />
        <br /> Gunzenhausener Str. 20
        <br />
        <br /> 90451 N&uuml;rnberg<br />
        <br />
        <br /> Staatl. anerkannter Musiklehrer
        <br />
        <br /> Telefon:
        <br />
        <a href="tel:+499116320890">+49 (0)911 6320890</a>
        <br />
        <br />
        <br /> Steuernummer: 218/292/70320 Finanzamt Fürth
        <br />
        <br /> Inhaltlich Verantwortlicher gem. &sect; 55 II RStV: Rudolf Ziebart
        (Anschrift s.o.)
        <br />
        <br />
        <br />
        <a
          href="https://maps.google.de/maps?ie=UTF8&cid=10230175189141752103&q=Musikschule+Ziebart&iwloc=A&gl=DE&hl=de"
          target="top"
          >Standortansicht im Stadtplan!
        </a>
      </p>
      <br />
    </div>
    <ul>
      <li><a href="/faq/" class="link-blue">FAQ</a></li>
      <li><a href="/download/" class="link-blue">Download</a></li>
      <li><a href="/harmonielehre/" class="link-blue">Harmonielehre</a></li>
      <li><a href="/impressum/" class="link-blue">Impressum</a></li>
    </ul>
  </section>
</Layout>

<style>
  #impressum {
    display: block;
    width: 96%;
    max-width: 100%;
    padding: 0;
    margin: 2rem auto;
    font-family: var(--font);
    font-style: normal;
    color: var(--color-white);
    background-color: var(--color-black);
  }

  #impressum {
    display: inline-block;
    margin: 2rem auto;
    padding: 1.25rem;
    text-align: left;
    width: 100%;
    vertical-align: top;
  }

  #impressum ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
</style>
