---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Keyboardunterricht"
  description="Ich gebe Keyboardunterricht in nürnberg eibach"
  keywords="keyboardunterricht, keyboardunterricht in eibach, keyboard anfänger, keyboardnoten für anfänger, einsteiger keyboard, keyboard spielen lernen, keyboard unterricht, keyboard kurs, keyboard für anfänger, keyboardunterricht nürnberg, keyboard lernen, keyboard spielen, keyboard lessons"
>
  <h1>Keyboardunterricht</h1>
  <section id="instruments_lesson">
    <article>
      <h2>Der neue Weg zum Keyboardspiel</h2>
      <picture>
        <source
          srcset="/images/benthien-wide.webp"
          media="(min-width: 600px)"
        />
        <img
          src="/images/benthien-narrow.webp"
          width="379"
          height="498"
          alt="Keyboardschule"
        />
      </picture>
      <p>
        Für die Keyboard Freunde wird meistens die Keyboardschule von Axel
        Benthien "Der neue Weg zum Keyboardspiel" verwendet. Es gibt 6 Bänder
        davon. Das Keyboard ist ein elektronische Instrument. Das normale Ziel
        ist es mit der linken Hand Akkorde zu greifen. Dann beginnt die
        Rythmusautomatik zu spielen. Die rechte Hand nutzt spielt man dann die
        Melodie. Später im Band 3 kommt die linke Hand immer mehr zu Einsatz.
        Sie spielt dann nicht mehr nur die Akkorde sondern nimmt dann auch die
        Begleitung wie ein Klavierspieler auf.
      </p>
      <p>
        Auf dem Video unten spiele ich ein Stück von Klaus Wunderlich mit dem
        Titel "Hammond Flip".
      </p>
      <div class="video-container-wrapper">
        <div class="video-container">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/244HlpB3JoA"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
        </div>
      </div>
      <p>
        Klaus Wunderlich brachte ein Notenbuch heraus mit 12 Kompositionen von
        ihm. Für jede Tonart komponierte er ein Stück. Ich habe das Stück in Db
        Dur gewählt. Ich habe es mit einem HAMMOND XM-1 Expander aufgenommen.
        Komponist: Klaus Wunderlich Titel: Des-interesse
      </p>
      <div class="video-container-wrapper">
        <div class="video-container">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/5zKHhUSVAoQ"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </div>
      <p>Noch ein Stück von diesem Buch: Es heißt E-Hering. Also ein Stück in E-Dur.</p>
      <div class="video-container-wrapper">
        <div class="video-container">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/t0tOQfL2qSE"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </div>
      <p>
        <a href="/leistungen/" class="link-white">zurück</a>
      </p>
      <ul>
        <li><a href="/faq/" class="link-blue">FAQ</a></li>
        <li><a href="/download/" class="link-blue">Download</a></li>
        <li><a href="/harmonielehre/" class="link-blue">Harmonielehre</a></li>
        <li><a href="/impressum/" class="link-blue">Impressum</a></li>
      </ul>
    </article>
  </section>
</Layout>
