---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = 'Klarinettenunterricht';
---

<BaseLayout
  pageTitle={pageTitle}
  description="Ich gebe Klarinettenunterricht in Nürnberg"
  keywords="klarinettenunterricht, musikschule klarinette, klarinettenunterricht in nürnberg, klarinettenunterricht in eibach, klarinette, klarinettenunterricht, klarinette für anfänger, klarinettenkurs, musikschule für klarinette, klarinettenunterricht eibach, unterricht klarinette, musikunterricht klarinette, klarinettenlehrer, Klarinette lernen für anfänger, clarinet lessons"
  href="https://www.musicstudio-ziebart.de/klarinettenunterricht/"
>
  <section>
    <article>
      <h2>Neue Schule für Klarinette, Ewald Koch</h2>
      <picture>
        <source srcset="/images/koch-wide.webp" media="(min-width: 600px)" />
        <img
          src="/images/koch-narrow.webp"
          width="422"
          height="560"
          alt="Klarinettenschule"
        />
      </picture>
      <p>
        Für den Klarinettenunterricht benutze ich gerne die Schule vom Professor
        Ewald Koch mit dem Titel: "Neue Schule für Klarinette". Es gibt 2 Bänder
        davon und eine CD ist ebenfalls dabei. Ein riesen Werk kann ich nur
        sagen.
      </p>      
      <p>
        <a href="/instrumentenkauf/" class="normal-links">Mehr Info über die Klarinette</a>
      </p>     
      <p>
        <a href="/leistungen/" class="normal-links">zurück</a>
      </p>
    </article>
  </section>
</BaseLayout>
