---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Klarinettenunterricht"
  description="Ich gebe Klarinettenunterricht in Nürnberg"
  keywords="klarinettenunterricht, musikschule klarinette, klarinettenunterricht in nürnberg, klarinettenunterricht in eibach, klarinette, klarinettenunterricht, klarinette für anfänger, klarinettenkurs, musikschule für klarinette, klarinettenunterricht eibach, unterricht klarinette, musikunterricht klarinette, klarinettenlehrer, Klarinette lernen für anfänger, clarinet lessons"
>
  <h1>Klarinettenunterricht</h1>
  <section id="instruments_lesson">
    <article>
      <h2>Neue Schule für Klarinette, Ewald Koch</h2>
      <picture>
        <source srcset="/images/koch-wide.webp" media="(min-width: 600px)" />
        <img
          src="/images/koch-narrow.webp"
          width="422"
          height="560"
          alt="Klarinettenschule"
        />
      </picture>
      <p>
        Für den Klarinettenunterricht benutze ich gerne die Schule vom Professor
        Ewald Koch mit dem Titel: "Neue Schule für Klarinette". Es gibt 2 Bänder
        davon und eine CD ist ebenfalls dabei. Ein riesen Werk kann ich nur
        sagen.
      </p>
      
      <p>
        <a href="/instrumentenkauf/" class="link-blue">Mehr Info über die Klarinette</a>
      </p>
      
      <p>
        <a href="/leistungen/" class="link-white">zurück</a>
      </p>
      <ul>
        <li><a href="/faq/" class="link-blue">FAQ</a></li>
        <li><a href="/download/" class="link-blue">Download</a></li>
        <li><a href="/harmonielehre/" class="link-blue">Harmonielehre</a></li>
        <li><a href="/impressum/" class="link-blue">Impressum</a></li>
      </ul>
    </article>
  </section>
</Layout>
