---
import BaseLayout from "../layouts/BaseLayout.astro";
import Koch from "../../public/images/koch-wide.webp";
export const prerender = true;
const pageTitle = "Klarinettenunterricht";
---

<BaseLayout
  pageTitle={pageTitle}
  description="Ich gebe Klarinettenunterricht 🎼 in Nürnberg. Ich benutze sowohl das Böhmsystem als auch das deutsche System"
  keywords="klarinettenunterricht, neue schule für klarinette ewald koch, klarinette lernen, klarinettenunterricht nürnberg, klarinettenschule, klarinette lernen, klarinettenschule für anfänger, musikschule klarinette, klarinettenunterricht in nürnberg, klarinettenunterricht in eibach, klarinette, klarinettenunterricht, klarinette für anfänger, klarinettenkurs, musikschule für klarinette, klarinettenunterricht eibach, unterricht klarinette, musikunterricht klarinette, klarinettenlehrer, Klarinette lernen für anfänger"
  href="https://www.musicstudio-ziebart.de/klarinettenunterricht/"
>
  <section>
    <article>
      <h2>Neue Schule für Klarinette, Ewald Koch</h2>
      
      <img
        src={Koch.src}
        width={Koch.width}
        height={Koch.height}
        alt="Neue Schule für Klarinette von Ewald Koch"
        aria-label="Neue Schule für Klarinette von Ewald Koch"
      />
      <p>
        Für den Klarinettenunterricht benutze ich gerne die Schule vom Professor
        Ewald Koch mit dem Titel: "Neue Schule für Klarinette". Es gibt 2 Bänder
        davon und eine CD ist ebenfalls dabei. Ein riesen Werk kann ich nur
        sagen.
      </p>      
      <p>
        <a href="/instrumentenkauf/" class="normal-links">Mehr Info über die Klarinette</a>
      </p>     
      <br />
      <br />
      <p>
        <a href="/leistungen/" class="normal-links">zurück</a>
      </p>
    </article>
  </section>
</BaseLayout>

<style>
  section article img {
    max-width: 30%;
    height: auto;
    box-shadow: 0px 0px 10px 5px #4c4948;
    border-radius: 5px;
    float: right;
    margin-top: 1.25rem;
    margin-left: 1rem;
    margin-right: 3rem;
  }
</style>
