---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Klavier Unterricht"
  description="Ich gebe Klavierunterricht in Eibach"
  keywords="klavierunterricht, klavierunterricht in Eibach, klavierstunden online, klavierlehrer nürnberg, klavier zum lernen, einsteiger klavier, klavierstück lernen, piano lernen, klavier lernen erwachsene, klavier anfänger, klavierunterricht nürnberg, klavier spielen lernen, klavier unterricht, piano für anfänger, klavier lernen, piano lessons"
>
  <h1>Klavierunterricht</h1>
  <section id="instruments_lesson">
    <article>
      <h2>Klavier oder Digitalpiano?</h2>
      <picture>
        <source srcset="/images/DB-32B-wide.webp" media="(min-width: 600px)" />
        <img
          src="/images/DB-32B-narrow.webp"
          width="344"
          height="250"
          alt="Ein Bild vom DB-32B"
        />
      </picture>
      <p>
        Wie ich bereits schon beim Instrumentenkauf erwähnt habe nehmen viele
        Schüler heutzutage ein Digital Piano. Trotzdem meine ich das ein
        richtiges Klavier schöner im Klang ist. Aber man muss es auch warten.
        Das heißt mindestens einmal im Jahr stimmen oder die Hammerfilze müssen
        auch mal im Abstand von 5 Jahren ausgewechselt werden. Hier unten im
        Bild ein gut klingendes Digitalpiano von Musikhaus Thomann ein DB-32B
        für 498,- EUR. Ein neues richtiges Klavier kostet heute so circa 5000,-
        EUR. Man braucht dann auch den Platz dafür. In Wohnungen gibt es oft
        Streit wegen dem Klavierspielen. In Häusern man es in der Regel nichts
        aus. Beim Digitalpiano kann man einfach die Lautstärke leiser drehen
        oder mit Kopfhörer spielen. Dies mag ich persönlich am liebsten. Ich
        störe damit keinen und kann so laut spielen wie ich möchte.
      </p>
      <picture>
        <source srcset="/images/heumann-wide.webp" media="(min-width: 600px)" />
        <img
          src="/images/heumann-narrow.webp"
          width="192"
          height="252"
          alt="Klavierschule"
        />
      </picture>
      <p>
        Für den Klavierunterricht nehme ich die Klavierschule von Hans-Günter
        Heumann. "Klavierspielen mein schönstes Hobby" heißt der Titel. Siehe
        unten im Bild. Es gibt 2 Bänder von diesem Werk und es beinhaltet auch
        eine CD in der alle Stücke vorgespielt werden. Diese Schule ist für
        Jugendliche und Erwachsene geschrieben worden. Also mindestens im Alter
        von 7 Jahren. Wenn die Kinder noch jünger sind nehme ich noch vorher
        eine leichtere Schule für 5 jährige Schüler.
      </p>
      <p>
        <a href="/instrumentenkauf/" class="link-blue">Mehr Info über das Klavier</a>
      </p>
      <p>Wie man mit dem Klavier schelle Stücke spielen kann! YouTube Video:</p>
      <div class="video-container-wrapper">
        <div class="video-container">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/vxX0WiQhSUE"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
        </div>
      </div>
      <p>
        <a href="/leistungen/" class="link-white">zurück</a>
      </p>
      <ul>
        <li><a href="/faq/" class="link-blue">FAQ</a></li>
        <li><a href="/download/" class="link-blue">Download</a></li>
        <li><a href="/harmonielehre/" class="link-blue">Harmonielehre</a></li>
        <li><a href="/impressum/" class="link-blue">Impressum</a></li>
      </ul>
    </article>
  </section>
</Layout>
