---
import BaseLayout from "../layouts/BaseLayout.astro";
export const prerender = true;
const pageTitle = "Leistungen";
---

<BaseLayout
  pageTitle={pageTitle}
  description="Unter Musikunterricht habe ich alle Instrumente aufgelistet die unterrichtet werden. 🤓"
  keywords="instrumenten angebot, klavier, keyboard, gitarre, e-bass, e-gitarre, banjo, akkordeon, saxophon, klarinette, querfloete"
  href="https://www.musicstudio-ziebart.de/leistungen/"
>
  <section id="leistungen">
    <h2>Instrumenten Angebot</h2>
    <article>
      <h2>Naturinstrumente</h2>
      <p>Ich gebe Musikunterricht für folgende Instrumente:</p>
      <h3>Naturinstrumente</h3>
      <ul>
        <li>
          Info <a href="/klavier/" class="normal-links"> Klavierunterricht</a>
        </li>
        <li>
          Info <a href="/akkordeon/" class="normal-links">Akkordeon Unterricht</a>
        </li>
        <li>
          Info <a href="/gitarre/" class="normal-links">Gitarrenunterricht</a>
        <li>
          Info <a href="/saxophon/" class="normal-links">Saxophonunterricht</a>
        </li>
        <li>
          Info <a href="/klarinette/" class="normal-links">Klarinetteunterricht</a>
        </li>
        <li>
          Info <a href="/querfloete/" class="normal-links">Querflöten Unterricht</a>
        </li>
        <li>
          Blockflöten Unterricht
        </li>
        <li>
          Info <a href="/banjo/" class="normal-links">Banjounterricht</a>
        </li>
        <li>Bongos Unterricht</li>
      </ul>
      <h4>Elektromechanische Instrumente</h4>
      <ul>
        <li>
          Info <a href="/keyboard/" class="normal-links">Keyboardunterricht</a>
        </li>
        <li>
          Info <a href="/e-gitarre/" class="normal-links">E-Gitarren Unterricht</a>
        </li>
        <li>Jazz Guitar Unterricht</li>
        <li>Jazzharmonielehre</li>
        <li>
          Info <a href="/e-bass/" class="normal-links">Bassunterricht</a>
        </li>
      </ul>
      <p>
        Mehr Information über die einzelnen Instrumente bekommen Sie oben aus
        der Dropdown Liste!
      </p>
      <p>
        Bei weiteren Fragen klicken Sie oben den Button Instrumentenkauf an!
      </p>
    </article>
  </section>
</BaseLayout>

<style>
  #leistungen {
    display: block;
    width: 96%;
    max-width: 100%;
    padding: 1.5em;
  }

  #leistungen article {
    display: inline-block;
    margin: 2rem auto;
    text-align: left;
    width: 100%;
    vertical-align: top;
  }

  #leistungen ul {
    width: auto;
    margin: auto;
    border: 1px solid red;
  }

  #leistungen ul li {
    height: 3rem;
    /* oben und unten 0.3rem, rechts und links 1.875rem */
    padding: 12px 10px;
    /* Keine Punkte vor den Ul's */
    list-style-type: none;
  }
</style>
