---
import BaseLayout from "../layouts/BaseLayout.astro";
export const prerender = true;
const pageTitle = "Leistungen";
---

<BaseLayout
  pageTitle={pageTitle}
  description="Unter Musikunterricht habe ich alle Instrumente aufgelistet die unterrichtet werden. 🤓"
  keywords="instrumenten angebot, klavier, keyboard, gitarre, e-bass, e-gitarre, banjo, akkordeon, saxophon, klarinette, querfloete"
  href="https://www.musicstudio-ziebart.de/leistungen/"
>
  <section id="leistungen">
    <h2>Instrumenten Angebot</h2>
    <article>
      <h2>Naturinstrumente</h2>
      <p>Ich gebe Musikunterricht für folgende Instrumente:</p>
      <h3>Naturinstrumente</h3>
      <ul>
        <li>
          <a href="/klavier/" class="normal-links"> Klavierunterricht</a>
        </li>
        <li>
          <a href="/akkordeon/" class="normal-links">Akkordeon Unterricht</a>
        </li>
        <li>
          <a href="/gitarre/" class="normal-links">Gitarrenunterricht</a>
        <li>
          <a href="/saxophon/" class="normal-links">Saxophonunterricht</a>
        </li>
        <li>
          <a href="/klarinette/" class="normal-links">Klarinetteunterricht</a>
        </li>
        <li>
          <a href="/querfloete/" class="normal-links">Querflöten Unterricht</a>
        </li>
        <li>
          Blockflöten Unterricht
        </li>
        <li>
          <a href="/banjo/" class="normal-links">Banjounterricht</a>
        </li>
        <li>Bongos Unterricht</li>
      </ul>
      <h4>Elektromechanische Instrumente</h4>
      <ul>
        <li>
          <a href="/keyboard/" class="normal-links">Keyboardunterricht</a>
        </li>
        <li>
          <a href="/e-gitarre/" class="normal-links">E-Gitarren Unterricht</a>
        </li>
        <li>Jazz Guitar Unterricht</li>
        <li>Jazzharmonielehre</li>
        <li>
          <a href="/e-bass/" class="normal-links">Bassunterricht</a>
        </li>
      </ul>
      <p>
        Mehr Information über die einzelnen Instrumente bekommen Sie oben aus
        der Dropdown Liste!
      </p>
      <p>
        Bei weiteren Fragen klicken Sie oben den Button Instrumentenkauf an!
      </p>
    </article>
  </section>
</BaseLayout>

<style>
  #leistungen {
    display: block;
    width: 96%;
    max-width: 100%;
    padding: 1.5em;
    margin: 0;
    font-style: normal;
  }

  #leistungen article {
    display: inline-block;
    margin: 2rem auto;
    text-align: left;
    width: 100%;
    vertical-align: top;
    padding: 1.25rem;
  }

  /* ANCHOR Dropdown für Instrumente und Hamonielehre */
  .dropbtn {
    background-color: red;
    padding: 0.9rem;
    margin: 2rem auto;
    font-size: 1.125rem;
    border: none;
    color: #fff;
    border-radius: 0.313rem;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    font-size: 1.125rem;
    padding-inline-start: 1rem;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #d3d3d3;
    z-index: 1;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }


  .dropdown-content a {
    color: #000;
    padding: 0.2rem 1.125rem;
    text-decoration: none;
    text-align: center;
  }

  .dropdown-content a:hover {
    background-color: #00a4bd;
    border-bottom: 0.25rem solid rgb(111, 0, 255);
  }

  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }

  .dropdown:hover .dropbtn {
    background-color: green;
  }

  #leistungen ul li {
    height: 3rem;
    /* oben und unten 0.3rem, rechts und links 1.875rem */
    padding: 0.3rem 0.1rem;
    font-size: large;
    /* Keine Punkte vor den Ul's */
    list-style-type: none;
  }
</style>
