---
import BaseLayout from "../layouts/BaseLayout.astro";
export const prerender = true;
const pageTitle = "Instrumenten Angebot";
---

<BaseLayout
  pageTitle={pageTitle}
  description="Unter Musikunterricht habe ich alle Instrumente aufgelistet die unterrichtet werden. 🤓"
  keywords="instrumenten angebot, klavier, keyboard, gitarre, e-bass, e-gitarre, banjo, akkordeon, saxophon, klarinette, querfloete"
  href="https://www.musicstudio-ziebart.de/musikunterricht/"
>
  <section id="musikunterricht">
    <h2>Wählen Sie ihr Wunschinstrument aus!</h2>
    <article>
      <div class="dropdown">
        <button class="dropbtn">Instrumenten Auswahl</button>
        <div class="dropdown-content">
          <a href="/klavier/">Klavier</a>
          <a href="/keyboard/">Keyboard</a>
          <a href="/gitarre/">Gitarre</a>
          <a href="/e-bass/">E-Bass</a>
          <a href="/e-gitarre/">E-Gitarre</a>
          <a href="/banjo/">Banjo</a>
          <a href="/akkordeon/">Akkordeon</a>
          <a href="/saxophon/">Saxophon</a>
          <a href="/klarinette/">Klarinette</a>
          <a href="/querfloete/">Querflöte</a>
        </div>
      </div>
      <p>
        Mehr Information über die einzelnen Instrumente bekommen Sie oben aus
        der Dropdown Liste!
      </p>
      <p>
        Bei weiteren Fragen klicken Sie oben den Button Instrumentenkauf an!
      </p>
    </article>
  </section>
</BaseLayout>

<style>
  #musikunterricht {
    display: block;
    width: 96%;
    max-width: 100%;
    padding: 1.5em;
    margin: 0;
    font-style: normal;
  }

  #musikunterricht article {
    display: inline-block;
    margin: 2rem auto;
    text-align: left;
    width: 100%;
    vertical-align: top;
    padding: 1.25rem;
  }

  /* ANCHOR Dropdown für Instrumente und Hamonielehre */
  .dropbtn {
    background-color: red;
    padding: 0.9rem;
    margin: 2rem auto;
    font-size: 1.125rem;
    border: none;
    color: #fff;
    border-radius: 0.313rem;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    font-size: 1.125rem;
    padding-inline-start: 1rem;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #d3d3d3;
    z-index: 1;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }


  .dropdown-content a {
    color: #000;
    padding: 0.2rem 1.125rem;
    text-decoration: none;
    text-align: center;
  }

  .dropdown-content a:hover {
    background-color: #00a4bd;
    border-bottom: 0.25rem solid rgb(111, 0, 255);
  }

  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }

  .dropdown:hover .dropbtn {
    background-color: green;
  }
</style>
