---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Schülermaterial";
const description = "Schüler download";
const pageUrl = "https://www.musicstudio-ziebart.de/pupils-download/";
---

<BaseLayout pageTitle={pageTitle} description={description} href={pageUrl}>
  <section id="download2">
    <h2 transition:animate="slide">Gespielte Titel</h2>
    <article>
      <br />
      <br />
      <table class="basis-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Titel</th>
            <th>Komponist</th>
            <th>Instrument</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Where Do You Go To My Lovely</td>
            <td>Peter Sarstedt</td>
            <td>Gitarre</td>
          </tr>

          <tr>
            <td>
              <a
                href="/Songs/Peter Sarstedt - Where Do You Go To My Lovely.mp3"
                target="_blank"
                class="normal-links">anhören</a
              >
            </td>
            <td>
              <a
                href="/bilder/Where Do You Go To My Lovely - Guitar.pdf"
                target="_blank"
                class="normal-links">ansehen</a
              >
            </td>
            <td>
              <a
                href="/zip_download/Where Do You Go To My Lovely - Peter Sarstedt.zip"
                class="normal-links">download 7,89 MB</a
              >
            </td>
          </tr>

          <tr>
            <td>2</td>
            <td>Maybe</td>
            <td>Thom Pace</td>
            <td>Gitarre</td>
          </tr>
          <tr>
            <td>
              <a
                href="/Songs/Thom Pace - Maybe.mp3"
                target="_blank"
                class="normal-links">anhören</a
              >
            </td>
            <td>
              <a
                href="/bilder/Maybe - Guitar.pdf"
                target="_blank"
                class="normal-links">ansehen</a
              >
            </td>
            <td>
              <a href="/zip_download/Maybe.zip" class="normal-links"
                >download 2,789 MB</a
              >
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Ruby</td>
            <td>Kenny Rogers</td>
            <td>Gitarre</td>
          </tr>
          <tr>
            <td>
              <a
                href="/Songs/Kenny Rogers - Ruby.mp3"
                target="_blank"
                class="normal-links">anhören</a
              >
            </td>
            <td>
              <a
                href="/bilder/Ruby - Rhythmus Guitar.pdf"
                target="_blank"
                class="normal-links">ansehen</a
              >
            </td>
            <td>
              <a href="/zip_download/Ruby.zip" class="normal-links"
                >download 3,13 MB</a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Variante A -->

      <div class="basis-card">
        <div class="basis-header">ID: 1</div>
        <div><span>Titel:</span> Where Do You Go To My Lovely</div>
        <div><span>Komponist:</span> Peter Sarstedt</div>
        <div><span>Instrument:</span> Gitarre</div>
        <div>
          <span>anhören:</span><a
            href="/Songs/Peter Sarstedt - Where Do You Go To My Lovely.mp3"
            target="_blank"
            class="normal-links"
          >
            anhören</a
          >
        </div>
        <div>
          <span>ansehen:</span><a
            href="/bilder/Where Do You Go To My Lovely - Guitar.pdf"
            target="_blank"
            class="normal-links"
          >
            ansehen</a
          >
        </div>
        <div>
          <span>Download:</span><a
            href="/zip_download/Where Do You Go To My Lovely - Peter Sarstedt.zip"
            class="normal-links"
          >
            7,89 MB</a
          >
        </div>
      </div>

      <div class="basis-card">
        <div class="basis-header">ID: 2</div>
        <div><span>Titel:</span> Maybe</div>
        <div><span>Komponist:</span> Thom Pace</div>
        <div><span>Instrument:</span> Gitarre</div>
        <div>
          <span>anhören:</span><a
            href="/Songs/Thom Pace - Maybe.mp3"
            target="_blank"
            class="normal-links"
          >
            anhören</a
          >
        </div>
        <div>
          <span>ansehen:</span><a
            href="/bilder/Maybe - Guitar.pdf"
            target="_blank"
            class="normal-links"
          >
            ansehen</a
          >
        </div>
        <div>
          <span>Download:</span><a
            href="/zip_download/Maybe.zip"
            class="normal-links"
          >
            2,789 MB</a
          >
        </div>
      </div>
      <div class="basis-card">
        <div class="basis-header">ID: 3</div>
        <div><span>Titel:</span> Ruby</div>
        <div><span>Komponist:</span> Kenny Rogers</div>
        <div><span>Instrument:</span> Gitarre</div>
        <div>
          <span>anhören:</span><a
            href="/Songs/Kenny Rogers - Ruby.mp3"
            target="_blank"
            class="normal-links"
          >
            anhören</a
          >
        </div>
        <div>
          <span>ansehen:</span><a
            href="/bilder/Ruby - Rhythmus Guitar.pdf"
            target="_blank"
            class="normal-links"
          >
            ansehen</a
          >
        </div>
        <div>
          <span>Download:</span><a
            href="/zip_download/Ruby.zip"
            class="normal-links"
          >
            3,13 MB</a
          >
        </div>
      </div>
      <br />
      <p>
        <a href="/" class="normal-links">home</a>
      </p>
    </article>
  </section>
</BaseLayout>
