---
import BaseLayout from "../layouts/BaseLayout.astro";
export const prerender = true;
const pageTitle = "Schülermaterial";
---

<BaseLayout
  pageTitle={pageTitle}
  description="pupils download"
  keywords="Schülermaterial, Noten und mp3 bekannter Werke zum downloaden"
  href="https://www.musicstudio-ziebart.de/pupils-download/"
>
  <section id="download">
    <h2>Audio Files mit Noten zum downloaden!</h2>
    <article>
      <p>
        Ein Klick auf anhören öffnet die mp3 Datei in einem neuen Fenster.
        Rechts ist ein Dreistrich Menu. Dort darauf mit der linken Maustaste
        klicken und des öffnet sich ein Feld herunterladen. Dann kommt die Datei
        bei euch in eurem Download Ordner. Übrigens in der PDF Notendatei sind
        alle Instrumente aufgeführt. Wenn man nur die Gitarre braucht dann nur
        diese ausdrucken.
      </p>
      <p>
        Ganz rechts in der Spalte Instrumente kann man die Zip Datei downloaden. In dieser 
        Zip Datei sind alle Instrumente enthalten. Also nicht nur die Rhythmusgitarre sondern 
        auch oft die zweite Gitarre, der Bass und das Schlagzeug. Also die kompletten Instrumente.
      </p>
      <p>
        Die Zip Datei ist eine komprimierte Form. Sie muss man nach dem Download entzippen. 
        Dazu drückt man dann im Download Ordner auf die Zip Datei mit der rechten Maustaste 
        und wählt extrahieren. Das Entzippungsprogramm ist standartmäßig in Windows 10 enthalten.
      </p>
      <br />
      <br />
      <table class="basis-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Titel</th>
            <th>Komponist</th>
            <th>Instrument</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>I'll Be Back</td>
            <td>Beatles</td>
            <td>Gitarre</td>
          </tr>
          <!--
          <tr>
            <td>
              <a
                href="/Songs/I'll Be Back - Beatles.mp3"
                target="_blank"
                class="normal-links">anhören</a
              >
            </td>
            <td>
              <a
                href="/bilder/I'll Be Back - Rhythmusguitar.pdf"
                target="_blank"
                class="normal-links">ansehen</a
              >
            </td>
            <td>
              <a href="/zip_download/I'll Be Back.zip" class="normal-links"
                >download 3,16 MB</a
              >
            </td>
          </tr> -->
          <tr>
            <td>2</td>
            <td>Real Love</td>
            <td>John Lennon</td>
            <td>Gitarre</td>
          </tr>
          <!--
          <tr>
            <td>
              <a
                href="/Songs/RealLove - John Lennon.mp3"
                target="_blank"
                class="normal-links">anhören</a
              >
            </td>
            <td>
              <a
                href="/bilder/Real Love.pdf"
                target="_blank"
                class="normal-links">ansehen</a
              >
            </td>
            <td>
              <a href="/zip_download/Real Love.rtf" class="normal-links"
                >Translation</a
              >
            </td>
          </tr> -->
        </tbody>
      </table>
      <!-- Variante A -->
      <!--
      <div class="basis-card">
        <div class="basis-header"> ID: 1</div>
        <div><span>Titel:</span> I'll Be Back</div>
        <div><span>Komponist:</span> Beatles</div>
        <div><span>Instrument:</span> Gitarre</div>
        <div><span>anhören:</span><a
          href="/Songs/I'll Be Back - Beatles.mp3"
          target="_blank"
          class="normal-links"> anhören</a
        >
        </div>
        <div><span>ansehen:</span><a
          href="/bilder/I'll Be Back - Rhythmusguitar.pdf"
          target="_blank"
          class="normal-links"> ansehen</a
        >
        </div>
        <div><span>Download:</span><a href="/zip_download/I'll Be Back.zip" class="normal-links"
          > download 3,16 MB</a
        >
        </div>
      </div> -->
      <!--
      <div class="basis-card">
        <div class="basis-header"> ID: 2</div>
        <div><span>Titel:</span> Real Love</div>
        <div><span>Komponist:</span> John Lennon</div>
        <div><span>Instrument:</span> Gitarre</div>
        <div><span>anhören:</span><a
          href="/Songs/I'll Be Back - Beatles.mp3"
          target="_blank"
          class="normal-links"> anhören</a
        >
        </div>
        <div><span>ansehen:</span><a
          href="/bilder/Real Love.pdf"
          target="_blank"
          class="normal-links"> ansehen</a
        >
        </div>
        <div><span>Download:</span><a href="/zip_download/Real Love.rtf" class="normal-links"
          > Translation</a
        >
        </div>
      </div> -->
      <br />
      <p>Die Noten sind selbst produziert worden.</p>
      <p>
        <a href="/" class="normal-links">home</a>
      </p>
    </article>
  </section>
</BaseLayout>

<style>
  #download {
    display: block;
    width: 96%;
    max-width: 100%;
    margin: 7% auto;
    padding: 1.25rem;
    text-align: center;
    font-style: normal;
  }

  #download article {
    display: inline-block;
    width: 96%;
    vertical-align: top;
  }

  /* Midi Wiedergabe */
  /*
  #download table {
    width: auto;
    text-align: center;
    box-shadow: 1px 2px 5px #666666;
  }

  #download article table,
  th,
  td {
    border: 0.063rem solid black;
    border-collapse: collapse;
    margin: 0 auto;
  }

  #download article table th {
    font-size: 1rem;
    font-weight: bold;
    empty-cells: show;
  }

  #download article table td {
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5rem;
  }
  */
  /* ANCHOR Neue basis-table CSS */
  {
    box-sizing: border-box;
    font-size: 1.0rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}   
table.basis-table {
    border-collapse: collapse;
    margin: 32px 0;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    font-weight: normal;
    overflow: hidden;
    text-align: left;
}

table.basis-table thead tr {
    background-color: rebeccapurple;
    color: white;
}

table.basis-table th,
table.basis-table td {
    padding: 12px 16px;
}

table.basis-table tbody tr {
    border-bottom: 1px solid #ccc;
}

table.basis-table tbody tr:last-of-type {
    border-bottom: 2px solid rebeccapurple;
}

table.basis-table tbody tr.active {
    font-weight: bold;
    color: rebeccapurple;
}

/* ANCHOR basis-card CSS */
.basis-card {
    display: none;
    width: 100%;
    margin-bottom: 20px;
}

.basis-header {
    background-color: rebeccapurple;
    color: white;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    font-weight: bold;
}

.basis-card div {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.basis-card div:last-of-type {
    border-bottom: 2px solid rebeccapurple;
}

.basis-card div > span {
    color: rgb(218, 54, 54);
    font-weight: bold;
}

@media screen and (max-width: 578px) {
    table.basis-table {
        display: none;
    }

    .basis-card {
        display: block;
    }
}

  #download article p {
    margin: 0em;
    text-align: left;
  }
</style>
