---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = 'Saxophonunterricht';
---

<BaseLayout
  pageTitle={pageTitle}
  description="Ich gebe Saxophonunterricht in Nuernberg"
  keywords="saxophon lernen, saxophonunterricht, saxophon unterricht, saxophonunterricht in eibach, saxophonunterricht nürnberg, saxophon spielen lernen, altsaxophon lernen, saxophon schnupperkurs, tenorsaxophon lernen, saxophon lernen anfänger, saxophon für anfänger, saxophonlehrer nürnberg, saxophon lessons"
  href="https://www.musicstudio-ziebart.de/saxophonunterricht/"
>
  <section id="instruments_lesson">
    <article>
      <h2>Das Saxophonbuch, Klaus Dapper</h2>
      <picture>
        <source srcset="/images/dapper-wide.webp" media="(min-width: 600px)" />
        <img
          src="/images/dapper-narrow.webp"
          width="428"
          height="600"
          alt="Schule_für_Saxophon"
        />
      </picture>
      <p>
        Für den Saxophon Unterricht nehme ich die Klaus Dapper Saxophonschule.
        Der Titel des Buches heißt "Das Saxophonbuch". Eine CD ist auch dabei
        und es gibt 2 Bänder. Man muß angeben ob es ein Bb-Tenor Saxophon ist
        oder ein Eb-Alt Saxophon.
      </p>
      <br />
      <p>
        <a href="/leistungen/" class="normal-links">zurück</a>
      </p>
    </article>
  </section>
</BaseLayout>
