---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Saxophonunterricht"
  description="Ich gebe Saxophonunterricht in Nürnberg"
  keywords="saxophon lernen, saxophonunterricht, saxophon unterricht, saxophonunterricht in eibach, saxophonunterricht nürnberg, saxophon spielen lernen, altsaxophon lernen, saxophon schnupperkurs, tenorsaxophon lernen, saxophon lernen anfänger, saxophon für anfänger, saxophonlehrer nürnberg, saxophon lessons"
>
  <h1>Saxophon Unterricht</h1>
  <section id="instruments_lesson">
    <article>
      <h2>Das Saxophonbuch, Klaus Dapper</h2>
      <picture>
        <source srcset="/images/dapper-wide.webp" media="(min-width: 600px)" />
        <img
          src="/images/dapper-narrow.webp"
          width="428"
          height="600"
          alt="Schule_für_Saxophon"
        />
      </picture>
      <p>
        Für den Saxophon Unterricht nehme ich die Klaus Dapper Saxophonschule.
        Der Titel des Buches heißt "Das Saxophonbuch". Eine CD ist auch dabei
        und es gibt 2 Bänder. Man muß angeben ob es ein Bb-Tenor Saxophon ist
        oder ein Eb-Alt Saxophon.
      </p>
      <br />
      <p>
        <a href="/leistungen/" class="link-white">zurück</a>
      </p>
      <ul>
        <li><a href="/faq/" class="link-blue">FAQ</a></li>
        <li><a href="/download/" class="link-blue">Download</a></li>
        <li><a href="/harmonielehre/" class="link-blue">Harmonielehre</a></li>
        <li><a href="/impressum/" class="link-blue">Impressum</a></li>
      </ul>
    </article>
  </section>
</Layout>
