---
import BaseLayout from "../layouts/BaseLayout.astro";
import Dapper from "../../public/saxophonunterricht/dapper-saxophonschule.webp";
export const prerender = true;
const pageTitle = "Saxophonunterricht";
---

<BaseLayout
  pageTitle={pageTitle}
  description="Ich gebe Saxophonunterricht 🎷 in Nürnberg. Ich benutze daszu die Klaus Dapper Saxophonschule Band 1 und 2."
  keywords="saxophonunterricht, das saxophonbuch klaus dapper, saxophon lernen, saxophon unterricht, saxophon unterricht in eibach, saxophon unterricht nürnberg, saxophon spielen lernen, saxophon online lernen, altsaxophon lernen, saxophon schnupperkurs, tenorsaxophon lernen, saxophon lernen anfänger, saxophon für anfänger, saxophonlehrer nürnberg, saxophon lessons"
  href="https://www.musicstudio-ziebart.de/saxophon/"
  property="https://www.musicstudio-ziebart.de/saxophon/"
>
  <section>
    <article>   
      <h2>Das Saxophonbuch, Klaus Dapper</h2>
      <img
          src={Dapper.src}
          width={Dapper.width}
          height={Dapper.height}
          alt="Bild SEO Das Saxophonbuch von Klaus Dapper"
        />
      <p>
        Für den Saxophon Unterricht nehme ich die Klaus Dapper Saxophonschule.
        Der Titel des Buches heißt "Das Saxophonbuch". Eine CD ist auch dabei
        und es gibt 2 Bänder. Man muß angeben ob es ein Bb-Tenor Saxophon ist
        oder ein Eb-Alt Saxophon.
      </p>
      <br />
      <p>
        <a href="/leistungen/" class="normal-links">zurück</a>
      </p>
    </article>
  </section>
</BaseLayout>

<style>
  section article img {
    max-width: 30%;
    height: auto;
    box-shadow: 0px 0px 10px 5px #4c4948;
    border-radius: 5px;
    float: right;
    margin-top: 1.25rem;
    margin-left: 1rem;
    margin-right: 3rem;
  }
</style>
