---
import BaseLayout from "../layouts/BaseLayout.astro";
import Dapper from "../../public/images/dapper-wide.webp";
const pageTitle = 'Saxophonunterricht';
---

<BaseLayout
  pageTitle={pageTitle}
  description="Ich gebe Saxophonunterricht in Nuernberg"
  keywords="saxophon lernen, saxophonunterricht, saxophon unterricht, saxophonunterricht in eibach, saxophonunterricht nürnberg, saxophon spielen lernen, altsaxophon lernen, saxophon schnupperkurs, tenorsaxophon lernen, saxophon lernen anfänger, saxophon für anfänger, saxophonlehrer nürnberg, saxophon lessons"
  href="https://www.musicstudio-ziebart.de/saxophonunterricht/"
>
  <section>
    <article>   
      <h2>Das Saxophonbuch, Klaus Dapper</h2>
      <img
          src={Dapper.src}
          width={Dapper.width}
          height={Dapper.height}
          alt="Das Saxophonbuch von Klaus Dapper"
        />
      <p>
        Für den Saxophon Unterricht nehme ich die Klaus Dapper Saxophonschule.
        Der Titel des Buches heißt "Das Saxophonbuch". Eine CD ist auch dabei
        und es gibt 2 Bänder. Man muß angeben ob es ein Bb-Tenor Saxophon ist
        oder ein Eb-Alt Saxophon.
      </p>
      <br />
      <p>
        <a href="/leistungen/" class="normal-links">zurück</a>
      </p>
    </article>
  </section>
</BaseLayout>
