---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "ThankYou";
---
<BaseLayout
  pageTitle={pageTitle}
  description="Kostenloser Probeunterricht"
  keywords="kontakt"
  href="https://www.musicstudio-ziebart.de/thankyou/"
  property="https://www.musicstudio-ziebart.de/thankyou/"
>
<h2>Dankeschön</h2>
<p>
    Ihre Nachricht ist auf dem Weg! Ich werde mich sobald wie möglich bei Ihnen melden.
</p>
<br>
<p>
    <a href="/" class="normal-links">go back!</a>
</p>
</BaseLayout>