---
import BaseLayout from "../layouts/BaseLayout.astro";
export const prerender = true;
const pageTitle = 'ThankYou';
---
<BaseLayout
  pageTitle={pageTitle}
  description="Kostenloser Probeunterricht"
  keywords="Kontakt"
  href="https://www.musicstudio-ziebart.de/thankyou/"
>
<h2>Dankeschön</h2>
<p>
    Ihre Nachricht ist auf dem Weg! Ich werde mich sobald wie möglich bei Ihnen melden.
</p>
<br>
<p>
    <a href="/" class="link-blue">go back!</a>
</p>
</BaseLayout>

<script>
  import "../scripts/dankeseite.js";
</script>